<div class="container pt-5">

    <div class="row pt-5 mt-0 exam-section">
  
      <div class="col-sm-12 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li>Group-discussion</li>
          <li>Group discussion history</li>
          <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go
            Back</strong>
        </ul>
  
        <ul class="nav nav-tabs">

          <li class="pointer" [routerLink]="['/group-discussions']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:
          true}"><a data-toggle="tab">Create&nbsp;a&nbsp;Group&nbsp;Discussion</a>
          </li>

          <li class="pointer" [routerLink]="['/group-discussions-history']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:
            true}"><a data-toggle="tab">Group Discussion History</a>
          </li>
  
        </ul>
      </div>
    </div>
</div>
  
        <div class="tab-content mt-5">
          
            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                  <div class="table-responsive">
                    <table class="table text-nowrap table-striped text-left">
                      <thead class="bg-dark rounded text-white">
                        <tr>
                          <th class="pl-4">SL.no</th>
                          <th>Date</th>
                          <th>Title</th>
                          <th>Class</th>
                          <th>Subject</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let gd of allGdLists | paginate: {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: totalItems
                        }; let i = index;">
                          <td class="align-middle pl-4">{{pageSize *(page-1)+i+1}}</td>
                          <td class="align-middle pl-4">{{gd.date | date:"d/M/yyyy"}}</td>
                          <td class="align-middle">{{gd.title}}</td>
                          <td class="align-middle">{{gd.class_name}} - {{gd.section}}</td>
                          <td class="align-middle">{{gd.subject_name}}</td>
                          <!-- <td class="align-middle text-success">Complete <a class="ml-5"><i class="fa"><img
                                  src="../../../../assets/img/slip-icon.png" title=""></i></a></td> -->
                          <td class="align-middle text-success"><span class="text-warning" *ngIf="gd.is_upcoming === true">Pending</span><span *ngIf="gd.is_upcoming === false">Pending</span></td>
                        </tr>

                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                  </div>
                </div>
              </div>
  
            </div>
        </div>
     