<div class="container pt-5">
  <div class="row mt-0 exam-section">
    <div class="col-sm-12 col-xs-12 animate__animated animate__backInDown">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Profile</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
      <div class="row">
        <div class="col-sm-7 col-xs-12 mb-4">
          <div class="bg-white shadow-sm rounded p-5 mb-3">
            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-3">
                <h5>Personal Information</h5>
                <hr>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="prouser mr-2"><img src="{{data.image}}" class="img-responsive" title=""></div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <h6 class="mb-2"><span class="font-weight-bold">Name : </span> - {{ data.first_name }} {{ data.last_name }}</h6>
                <h6 class="mb-2"><span class="font-weight-bold">Highest Qualification</span> - {{ data.education }}</h6>
                <h6 class="mb-2"><span class="font-weight-bold">Mail Id</span> - {{ data.email }}</h6>
                <h6 class="mb-2"><span class="font-weight-bold">Contact Info</span> - {{ data.phone }}</h6>
                <h6 class="mb-2"><span class="font-weight-bold">Address</span> - {{ data.address1 }}, {{ data.address2 }}, {{ Cityname }}- {{data.Pincode}}, {{ Statename }}, {{Countryname}}</h6>
               </div>
            </div>
          </div>
         
        </div>
        <div class="col-sm-5 col-xs-12 mb-4">
          <div class="bg-white shadow-sm rounded p-5 mb-3">
            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-3">
                <h5>Job Information</h5>
                <hr>
              </div>
              
              <div class="col-sm-12 col-xs-12">
                <h6 class="mb-2"><span class="font-weight-bold">Date Of Joining : </span> - {{ data.doj | date: 'dd/MM/Y'}} {{ data.last_name }}</h6>
                <h6 class="mb-2">
                  <span class="font-weight-bold pb-3"
                    >Specialised For -</span
                  >
                </h6>
      
                <ng-container *ngFor="let subjects of data.teacher_subject; let index = index">
                  <h6 class="mb-1">
                    {{index + 1}}. {{ subjects.subject__subject }} ({{
                      subjects.scl_class__class_name
                    }}
                    - {{ subjects.cls_section__section_name }})
                  </h6>
                </ng-container>  
              </div>
            </div>
          </div>
          </div>
          <div class="clearfix w-100"></div>
          <div class="d-flex justify-content-end col-sm-12 mt-2">
            <button
              (click)="openPopup()"
              class="
                btn btn-warning2
                rounded-pill
                mt-3
                pt-1
                pl-4
                pr-4
                pb-1
                text-decoration-none text-black
              "
            >
              Change Password
            </button>
            <button
              (click)="editBtn_click()"
              class="
                btn btn-success
                rounded-pill
                mt-3
                pt-1
                pl-4
                pr-4
                pb-1
                text-decoration-none text-white
              "
            >
              Edit
            </button>
            </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-center">
            <ng-container *ngIf="passwordChangeStatus == 0">
              <strong><span class="text-danger"> {{passwordChangeMessage}} </span></strong>
            </ng-container>
    
            <ng-container *ngIf="passwordChangeStatus == 1">
            <strong><span class="text-success"> {{passwordChangeMessage}} </span></strong>
            </ng-container>
          </div>
        </div>
        
        <form [formGroup]="passwordForm">
          <div class="form-group">
            <label for="exampleInputPassword1">Old Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Old Password"
              formControlName="old_password"
              [ngClass]="applyCss(passwordForm,'old_password')"
            />
            <span class="text-danger" *ngIf="validField(passwordForm,'old_password')">Old password is required.</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">New Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword2"
              placeholder="New Password"
              formControlName="new_password"
              [ngClass]="applyCss(passwordForm,'new_password')"
            />
            <span class="text-danger" *ngIf="validField(passwordForm,'new_password')">New password is required.</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="closePopup()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="changePassword()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
