<div class="container pt-5">
  <div class="row mt-0 homeworks-page">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="/#/exams">Exam</a></li>
        <li>Submitted Exams Review</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
        ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>

      <div class="row">
        <div
          class="col-sm-12 col-xs-12 mb-4 animate__animated animate__backInUp"
        >
          <div class="bg-white shadow-sm rounded">
            <div
              class="bg-dark pt-3 pb-2 mb-3 text-white rounded d-flex exam_history"
            >
              <h6 class="font-weight-bold pl-5">Student Name - {{student_fname}} {{student_lname}}</h6>
              <h6 class="font-weight-bold pl-5">Subject - {{subject}}</h6>
              <h6 class="font-weight-bold pl-5">Class - {{class_section}}-{{stu_class}}</h6>
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-4">
                <div class="table-responsive">
                  
                  <table
                    class="table table-borderless text-nowrap table-striped"
                  >
                    <thead class="thead-dark2">
                      <!-- <tr>
                        <th colspan="2"></th>
                        <th>
                          <h6 class="mb-3 text-right pr-4">2X50 = 100</h6>
                        </th>
                      </tr> -->
                    </thead>
                    <tbody>
                      <tr *ngFor="let question of questionarray; let i = index">
                        <td class="pl-4">
                          <p class="mb-1">
                            {{i+1}}. {{question.question_details[0].question}}
                          </p>
                          <ng-container *ngIf="question.question_type == '1' || question.question_type == '3'">
                            <p class="mb-1">Ans : {{question.answer}}</p>
                          </ng-container>
                          <ng-container *ngIf="question.question_type == '2'">
                            <p class=" mb-1" *ngIf="question.answer == '1'">Ans : Yes</p>
                            <p class=" mb-1" *ngIf="question.answer == '2'">Ans : No</p>
                            
                          </ng-container>
                          
                        </td>
                        <td>
                          <ng-container *ngIf="question.is_right == true">
                            <div class="form-check-inline mr-3 mt-1">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input"
                                  checked disabled value="true"
                                />
                                Right
                              </label>
                            </div>
                            <div class="form-check-inline mr-3 mt-1">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input" disabled value="false"
                                />
                                Wrong
                              </label>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="question.is_right == false">
                            <div class="form-check-inline mr-3 mt-1">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input" disabled value="true"
                                />
                                Right
                              </label>
                            </div>
                            <div class="form-check-inline mr-3 mt-1">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input"
                                  checked disabled value="false"
                                />
                                Wrong
                              </label>
                            </div>
                          </ng-container>
                          
                        </td>
                        <td>Marks Obtained: {{question.marks_obtained}}</td>
                        <td>
                          <button
                            type="button"
                            class="btn bg-danger rounded mt-1 pt-1 pl-3 pr-3 pb-1 text-decoration-none text-white"
                            (click)="teacher_remarks(question.comment)"
                          >
                            <i class="fa fa-eye mr-2" aria-hidden="true"></i>
                            Teacher Comment
                          </button>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The Modal -->
      <!-- <div class="modal fade teacher_comment" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            Modal Header 
            <div class="modal-header d-flex justify-content-center">
              <h5 class="modal-title text-center w-100">Teacher Comment</h5>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

             Modal body 
            <div class="modal-body pb-0 pt-0">
              <div class="bg-white shadow-sm rounded m-0 p-4">
                <p>
                  orem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.<br /><br />

                  Why do we It is a long established fact that a reader will be
                  distracted by the readable content of a page when looking at
                  its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to
                  using 'Content here, content here', making it look like
                  readable English.
                </p>
              </div>
            </div>

             Modal footer 
            <div class="modal-footer d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-warning rounded-pill mt-2 pl-5 pr-5 pt-1 pb-2"
              >
                Done
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> 
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<ng-template #remarksModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Attendence</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="w-100">
            <textarea id="tremarks" class="form-control" rows="5" disabled>{{comments}}</textarea>
            
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-danger rounded-pill" (click)="modal.close()">Close</button>
  </div>

</ng-template>