<div class="container pt-5">
  <div class="row pt-5 mt-0 exam-section">


    <div class="col-sm-12 col-xs-12">
      <form [formGroup]="studentSearch">
        <div class="row mb-3 mt-3 animate__animated animate__backInUp">
          <div class="col-sm-3 col-xs-12">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" (change)="changeClass($event)"
                formControlName="classID"
                id="exampleFormControlSelect1" 
                name="subject_id">
                <option value="">Select Class</option>
                <option *ngFor="let class of classdetails" [value]="class.id">{{class.class_name}}</option>
              </select>
            </div>
          </div>

          <div class="col-sm-3 col-xs-12">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" (change)="changeSection()" formControlName="sectionID"
                id="exampleFormControlSelect2" name="subject_id">
                <option value="">Select Section</option>
                <option *ngFor="let section of sectiondetails" [value]="section.id">{{section.section_name}}</option>
              </select>
            </div>
          </div>

          <!-- <div class="col-sm-3 col-xs-12">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" formControlName="studentName"
                id="exampleFormControlSelect2" name="subject_id">
                <option value="" selected>Select Student Name</option>
                <option *ngFor="let student of studentnamelist" [value]="student.id">{{student.student_name}}</option>
              </select>
            </div>
          </div> -->
          <div class="col-sm-3 col-xs-12">
            <div class="form-group">
              <button type="submit" class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"><a
                  (click)="Search()" class="text-decoration-none text-dark"><i class="fa fa-search mr-2"
                    aria-hidden="true"></i> Search </a></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">

        <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__backInDown">
          <div class="bg-white shadow-sm rounded overflow-hidden">
            <div class="table-responsive">
              <table class="table text-nowrap table-striped">
                <thead class="bg-dark rounded text-white">
                  <tr>
                    <th class="pl-4">Student Name</th>
                    <th class="text-center">Roll No.</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngIf="studentlist.length > 0"></div>
                  <tr *ngFor="let student of studentlist">
                    <td class="pl-4">{{student.student_name}}</td>
                    <td class="text-center">{{student.roll_number}}</td> 
                    <td class="text-center"><a >
                        <button type="submit" (click)="details_click(student.student)"
                          class="btn bg-danger rounded-pill mt-0 mr-5 pt-0 pb-1 pl-3 pr-3 ml-3 text-decoration-none text-white"><small>View
                            Students Details</small></button></a></td>
                  </tr>
                  <div class="pl-2 pt-2" *ngIf="studentlist.length == 0">
                    No record.
                  </div>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col text-center">
                <div class="pagination">
                  <button (click)="changePage('PREVIOUS')" class="pointer btn">&laquo;</button>
                  <ng-container *ngFor="let item of [].constructor(numberOfPages);let index = index">
                    <button [ngClass]="{'active': index  == page-1}" (click)="changePage(index+1)" class="pointer btn">{{ index+1 }}</button>
                  </ng-container>
                  <button (click)="changePage('NEXT')" class="pointer btn">&raquo;</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>