.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffd338;
    border: 1px solid #ffd338;
}

.nav-item{
    float: left;
    margin-right: 18px;
    width: 262px;
    text-align: center;
}

.attendance-page .nav > li > a {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    border-radius: 22px;
    box-shadow: 0 0.125rem 0.25rem rgb(111 103 103 / 59%) !important;
}
.show {
    display:flex;
}
.hide {
    display:none;
}