<div class="container pt-5">
  <div class="row mt-0 attendance-page">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="/#/student-attendance">Student Attendance</a></li>
        <li>Attendance Details </li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div
    class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
  >
    <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
      <div class="table-responsive">
        <table class="table text-nowrap table-striped text-center">
          <thead class="bg-dark rounded text-white">
            <tr>
              <th class="pl-4">Date</th>
              <th>Student Name</th>
              <th>Attendance Status</th>
              <th>Student Remarks</th>
              <th>Teacher Remarks</th>
            </tr>
          </thead>
            <tbody>
                <tr *ngFor="let atten of detailsAttendanceData">
                  <td class="align-middle pl-4">{{atten.date | date:'dd/MM/y'}}</td>
                  <td class="align-middle">{{atten.student}}</td>
                  <td class="align-middle">{{atten.present_status}}</td> 
                  <td class="align-middle"><button class="btn btn-danger rounded-pill pl-3 pr-3" (click)="ViewStudentRemarks(atten.student_remarks)">View</button></td>
                  <td class="align-middle"><button class="btn btn-danger rounded-pill pl-3 pr-3" (click)="ViewTeacherRemarks(atten.teacher_remarks)">View</button></td>                 
                </tr>                                                                                                                   
            </tbody>
        </table>
       </div>
    </div>
  </div>
</div>

<ng-template #studentModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Remarks</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="w-100">
            <textarea id="tremarks" class="form-control" rows="5">{{atten_sremarks}}</textarea>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-danger rounded-pill" (click)="modal.close()">Close</button>
  </div>

</ng-template>

<ng-template #teacherModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Teacher Remarks</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="w-100" >
            <textarea id="tremarks" class="form-control" rows="5">{{atten_review}}</textarea>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-danger rounded-pill" (click)="modal.close()">Close</button>
  </div>

</ng-template>