<div class="container pt-5">
  <div class="row">
    <div class="col">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="homeworks">Homeworks</a></li>
        <li>Create Homework</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
    </div>
  </div>
  <form [formGroup]="homeworkForm">
  <div class="row mt-0">
    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="scl_class"
          (change)="classChange($event)"
        >
          <option disabled value="SELECT">Select Class</option>
          <option
            value="{{ class.id }}"
            *ngFor="let class of allClass"
          >
            {{ class?.class_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="cls_section"
        >
          <option disabled value="SELECT">Select Section</option>
          <option
            value="{{ section.id }}"
            *ngFor="let section of allSection"
          >
            Section - {{ section.section_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="subject"
        >
          <option disabled value="SELECT">Select Subject</option>
          <option
            value="{{ subject.subject }}"
            *ngFor="let subject of allSubjects"
          >
            {{ subject.subject_name }}
          </option>
        </select>
      </div>
    </div>


  </div>

  <div class="row pt-3 mt-0">
    <div class="col-sm-6 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="text"
          class="form-control shadow-sm rounded pt-2 pb-2"
          placeholder="Add Your Title Here"
          id="usr"
          formControlName="title"
          formControlName="title"
        />
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="date"
          name="date"
          id="date"
          value="Due Date"
          class="p-2 w-100 text-muted rounded shadow-sm"
          formControlName="start_date"
        />
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="date"
          name="date"
          id="date"
          value="Due Date"
          class="p-2 w-100 text-muted rounded shadow-sm"
          formControlName="end_date"
        />
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 mb-2">
      <div class="form-group">
        <textarea
          class="form-control shadow-sm pt-3"
          rows="9"
          placeholder="Add A description Here"
          id="comment"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12 mb-2">
      <div class="form-group">
        <select (change)="fileAttached($event)"
          class="form-control rounded shadow-sm"
          id="exampleFormControlSelect2"
          name="subject_id"
          formControlName="question_type"
        >
        <option disabled value="SELECT">Select Question Type</option>
        <option value="attachment">Attachment</option>
        <option value="online">Online</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12 mb-2" >
      <div class="form-group">
        <input type="file" class="form-control rounded shadow-sm" *ngIf="fileDiv"
        id="exampleFormControlSelect2" (change)="addQuestionImage($event)"
        formControlName="attachement">
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 mb-2">
      <a
        ><button
          type="button"
          class="btn btn-success shadow-sm rounded-pill mb-3 pl-4 pr-4 mr-2"
          (click)="submitForm()"
        >
          Save & Create Homework
        </button></a
      >
    </div>
  </div>
</form>
</div>
