<div class="row text-center">
  <div class="col-md-12">
    <div class="btn-group d-flex">
      <div
        class="btn btn-primary w-100"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        (click)="previous_month()"
      >
        Previous
      </div>
      <div class="btn btn-outline-secondary w-100">
        {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
      </div>
      <div
        class="btn btn-primary w-100"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
</div>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number"
          >{{ day.date | calendarDate:'monthViewDayNumber':locale }}<span style="color:red" *ngIf="day.badgeTotal > 0">*</span></span
        >
      </div>
</ng-template>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [cellTemplate]="customCellTemplate"
    (dayClicked)="dayClicked($event.day)"
    (beforeViewRender)="beforeMonthViewRender($event)"
  >
  </mwl-calendar-month-view>
</div>
