.cal-open-day-events {
  display: none;
}

.cal-month-view .cal-day-cell {
  min-height: 0;
  max-height: 90px;
  cursor: pointer;
}

.cal-month-view .cal-cell-top {
  min-height: 0;
  max-height: 90px;
}

.badge {
  margin-right: 5px;
}

.cal-day-selected,
.cal-day-selected:hover {
  background-color: lightblue !important;
}

.cal-month-view .cal-day-number{
    font-size: 1.1em;
    margin:5px;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number{
    font-size: 1.3em;
    font-weight:bolder;
}
