<div class="content minheight">
    <div class="container">
        <div class="login-box offset-3 offset-3 mb-0" style="margin-top: 87px;">
            <div class="card mt-4">
                <div class="card-body login-card-body pb-5 rounded pl-4 pr-4">
                    <div class="login-icon"><a><img src="../../../assets/img/mkc-login1.png" alt="Kidboodle"></a></div>

                    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

                    <form [formGroup]="userForm">
                        <div class="input-group mb-3">
                            <input type="email" 
                            class="form-control"
                            name="email" placeholder="Email"
                            formControlName="email"
                            [ngClass]="displayFieldCss(userForm,'email')">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="(userForm.get('email').invalid && userForm.get('email').touched) || userForm.get('email').dirty">

                            <small class="text-danger ml-2" *ngIf="userForm.get('email').errors?.['email']">Email address is
                                invalid</small>
                        </div>

                        <p style="text-align:center;">OR</p>


                        <div class="input-group mb-3">
                            <input type="number" 
                            class="form-control" 
                            name="mobile" 
                            placeholder="Mobile No."
                            formControlName="mobile"
                            [ngClass]="displayFieldCss(userForm,'mobile')">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <div
                                *ngIf="(userForm.get('mobile').invalid && userForm.get('mobile').touched) || userForm.get('mobile').dirty">

                                <small class="text-danger ml-2" *ngIf="userForm.get('mobile').errors?.['pattern']">Phone
                                    number must be 10 digit number.</small>
                            </div>

                        <br>

                        <div class="row ">
                            <div class="d-flex justify-content-center w-100">
                                <button type="button" data-toggle="modal" data-target="#myModal"
                                    (click)="newPwdBtnClick()"
                                    class="btn btn-warning rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Request
                                    New
                                    Password</button>
                            </div>
                            <div class="d-flex justify-content-center w-100 mt-2">
                                <a [routerLink]="['/login']"
                                    class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-1 text-white font-weight-bold">Login</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- The Modal -->

        <ng-template #editModal let-modal>
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Request new password</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
                </div>


                <div class="modal-body">
                    <form class="pl-3 pr-3 pb-4 pt-3" [formGroup]="otpVerifyForm">

                        <div *ngIf="otpObj.isOtp" class="form-group alert alert-success mt-3" role="alert">
                            <h4 class="alert-heading">Success</h4>
                            <p>{{otpObj.isOtpMsg}}</p>
                        </div>

                        <div class="form-group" *ngIf="!otpObj.isMobileOtp && otpObj.isEmailOtp">
                            <label for="otp">Email OTP:</label>
                            <input type="text" 
                            class="form-control" 
                            id="otp" 
                            placeholder="Enter OTP"
                            name="emailotp"
                            formControlName="emailOtp">
                        </div>

                        <div class="form-group" *ngIf="otpObj.isMobileOtp && !otpObj.isEmailOtp">
                            <label for="otp">Mobile OTP:</label>
                            <input type="text" 
                            class="form-control" 
                            id="otp" 
                            placeholder="Enter OTP" 
                            name="mobotp"
                            formControlName="mobileOtp">
                        </div>

                        <button type="button" class="btn btn-success rounded-pill pl-4 pr-4 mt-3 font-weight-bold"
                            (click)="otpSubmitBtn()">Submit</button>
                    </form>
                </div>

            </div>

        </ng-template>



        <ng-template #myModal let-modal>
            <div>
                <div class="modal-header" *ngIf="!isPasswordChanged">
                    <h4 class="modal-title">Enter new password</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
                </div>


                <div class="modal-body">
                    <form class="pl-3 pr-3 pb-4 pt-3" [formGroup]="changePasswordForm">

                        <div *ngIf="isPasswordChanged" class="form-group alert alert-success mt-3" role="alert">
                            <h4 class="alert-heading">Success</h4>
                            <p>Password changed successfully.Please login with new password!</p>
                        </div>

                        <div class="form-group" *ngIf="!isPasswordChanged">
                            <label for="new password">New password:</label>
                            <input type="password" 
                            class="form-control" 
                            placeholder="Enter new password"
                            name="new password" 
                            formControlName="password"
                            [ngClass]="displayFieldCss(changePasswordForm,'password')">
                        </div>
                        <div *ngIf="(changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched) || changePasswordForm.get('password').dirty">
                           <small class="text-danger mt-0" *ngIf="changePasswordForm.get('password').errors?.['required']">Password is required.</small>
                        </div>

                        <div class="form-group" *ngIf="!isPasswordChanged" >
                            <label for="confirm password">Confirm password:</label>
                            <input type="password" 
                            class="form-control" 
                            placeholder="Enter confirm password"
                            name="confirm password" 
                            formControlName="cpassword"
                            [ngClass]="displayFieldCss(changePasswordForm,'cpassword')">
                        </div>
                        <div *ngIf="(changePasswordForm.get('cpassword').invalid && changePasswordForm.get('cpassword').touched) || changePasswordForm.get('cpassword').dirty">
                            <small class="text-danger mt-0" *ngIf="changePasswordForm.get('cpassword').errors?.['required']">Confirm Password is required.</small>
                         </div>

                        <button type="button" *ngIf="!isPasswordChanged" (click)="passChangeBtn_Click()"
                            class="btn btn-success rounded-pill pl-4 pr-4 mt-3 mr-3 font-weight-bold">Submit</button>

                            <button type="button" *ngIf="isPasswordChanged" (click)="loginBtnClick()"
                            class="btn btn-warning rounded-pill pl-4 pr-4 mt-3 font-weight-bold">Login</button>


                    </form>
                </div>
            </div>
        </ng-template>



        <!-- <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <h4 class="modal-title">Request new password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                
                    <div class="modal-body">
                        <form class="pl-3 pr-3 pb-4 pt-3">
                            <div class="form-group">
                                <label for="password">New password:</label>
                                <input type="password" class="form-control" placeholder="Enter new password"
                                    name="emailotp">
                            </div>

                            <div class="form-group">
                                <label for="confirm password">Confirm password:</label>
                                <input type="password" class="form-control" placeholder="Enter confirm password" name="confirm password">
                            </div>

                            <button type="button" (click)="newPassword_Btn()"
                                class="btn btn-success rounded-pill pl-4 pr-4 mt-3 font-weight-bold">Submit</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>  -->
    </div>
</div>
<script type="text/javascript">
    window.onbeforeunload = function (event) {
        return confirm("Confirm refresh");
    };
</script>
