<!-- Start Login Section -->
<div
  class="login-section" style="background-image: url('./assets/img/login-bg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; min-height: 597px;"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xs-12 w-100">
        <div class="login-logo">
          <a
            ><img src="../../../../assets/img/mkc-login1.png" title="Kidboodle" alt="Kidboodle"
          /></a>
        </div>
      </div>
    </div>

    <div class="clearfix w-100"></div>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="loging-page">
          <h2 class="text-white font-weight-bold pb-3">
            Kidboodle School<br />
            Management System
          </h2>

          <form [formGroup]="validateForm">
            <div class="form-group">
              <input
                type="email"
                class="
                  form-control
                  bg-transparent
                  border-top-0 border-left-0 border-right-0 border-bottom
                  rounded-0
                  text-white
                "
                id="email"
                placeholder="User Id"
                name="email"
                formControlName="username"
                [ngClass]="applyCss(validateForm,'username')"
              />
              <span class="text-danger" *ngIf="validField(validateForm,'username')">Username is required.</span>
            </div>


            <div class="form-group">
              <input
                type="password"
                class="
                  form-control
                  bg-transparent
                  border-top-0 border-left-0 border-right-0 border-bottom
                  rounded-0
                  text-white
                "
                id="pwd"
                placeholder="Password"
                name="pswd"
                formControlName="password"
                [ngClass]="applyCss(validateForm,'password')"
              />
              <span class="text-danger" *ngIf="validField(validateForm,'password')">Password is required.</span>
            </div>
            <button
              type="submit"
              class="btn btn-warning rounded-pill w-100 mt-3"
              (click)="login()"
            >
              Log In
            </button>
            <div class="form-group pt-3">
              <p class="text-white"><a [routerLink]="['/forgetpassword']" class="text-danger">
                Forgot Password ?</a>
              </p>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="mkc-login-icon">
          <a
            ><img
              src="../../../assets/img/mkc-login1.png"
              title="Kidboodle"
              alt="Kidboodle"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Login Section -->
