.login-section{
     background-image: url(http://166.62.54.122/shyamfuture.in/mkc/html/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
}