@media print {
    
    body * {
  
      visibility: visible;
  
    }
  
    #section-to-print, #section-to-print * {
  
      visibility: visible;
  
    }
    :host {
      display: none;
    }
  
    #section-to-print {
  
      position: absolute;
  
      left: 0;
  
      top: 10px;
      width: 230px;
      height: 330px;
  
    }
  
  }
  
  body{
    margin: 10px;
  }