 <div class="container">
  <div class="row pt-4 mt-0 exam-section">
              
            <div class="col-sm-12 col-xs-12">
          
              <ul class="breadcrumb mt-3">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li>View Details</li>
                <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                  class="pointer">Go Back</strong>
              </ul>
          
              <div class="card card-primary card-outline p-3">
                <div class="col-sm-12 col-xs-12 d-flex justify-content-end">
                  <!-- <h5 class=" col-sm-12 col-xs-12 text-center pb-2 ">GRADE CARD</h5> -->


                  <a type="button" (click)="onPrint('sectionToPrint')" class="btn btn-warning mt-1 pl-3 pr-3">Print</a>
                </div>

                <div id="sectionToPrint">
                  <h5 class=" col-sm-12 col-xs-12 text-center ">GRADE CARD</h5>

                
                  <div class="row mt-2 pb-5 d-flex justify-content-center">
                    <div class="col-sm-12 col-xs-12">
                      <div class="card card-primary card-outline">

                        <div class="bg-dark pt-3 pl-4 pb-2 mb-3 mt-1 ml-1 mr-1 text-white rounded text-left">
                          <h6 class="font-weight-bold" *ngFor="let list of studentList"> Student Name : &nbsp;{{list.student_name}}</h6>
                        </div>

                        <table class="table table-bordered table-hover text-nowrap">
                            <thead>
                              <tr style="text-align:center">
                                <th>Subject</th>
                                <th>Exam Type</th>
                                <th>Min. Marks</th>
                                <th>Max. Marks</th>
                                <th>Marks Obtained</th>
                                <th>Grade</th>
                                <th>Description</th>
                                <th>Published Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let list of studentList"  style="text-align:center">
                                <td *ngFor="let item of list['exam_details']">{{item.exam_routine__subject__subject__subject}}</td>
                                <td *ngFor="let item of list['exam_details']">{{item.title}}</td>
                                <td *ngFor="let item of list['grade_details']">{{item.min_marks}}</td>
                                <td *ngFor="let item of list['grade_details']">{{item.max_marks}}</td>
                                <td>{{list.total_marks_obtained}}</td>
                                <td *ngFor="let item of list['grade_details']">{{item.grade}}</td>
                                <td *ngFor="let item of list['exam_details']">{{item.description}}</td>
                                <td>{{list.result_publish_date}}</td>
                              </tr>
                            </tbody>
                          </table>

                         
                        <!-- <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [disabled]="totalItems<5"
                            [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="true" (page)="onChangePage($event)">
                        </mat-paginator> -->
             
                    </div>
                    </div>
                    
                 </div>
              </div>
        
              </div>
            </div>
          </div>
        </div>
