<div class="container pt-5">
  <div class="row mt-0 exam-section">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a [routerLink]="['/']">Dashboard</a></li>
        <li>Announcement</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
      <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'CREATE' }"
            (click)="changeSelectedTab('CREATE')"
            >Create Announcement</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'HISTORY' }"
            (click)="changeSelectedTab('HISTORY')"
            >Announcement History</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <ng-template [ngIf]="selectedTab == 'CREATE'">
          <div class="tab-pane fade show active">
            <form role="form" [formGroup]="announcementForm">
              <div class="row">
                <div class="col-sm-3 col-xs-12 mb-2">
                  <div class="form-group">
                    <select
                      class="form-control rounded-pill shadow-sm"
                      formControlName="scl_class"
                      (change)="classChange($event)"
                      [ngClass]="applyCss(announcementForm,'scl_class')"
                    >
                      <option value="">Select Class</option>
                      <option
                        value="{{ class.id }}"
                        *ngFor="let class of allClass"
                      >
                        {{ class.class_name }}
                      </option>
                    </select>
                    <span class="text-danger" *ngIf="validField(announcementForm,'scl_class')">Enter the class.</span>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-12 mb-2">
                  <div class="form-group">
                    <select
                      class="form-control rounded-pill shadow-sm"
                      formControlName="cls_section"
                      (change)="getAllStudent()"
                      [ngClass]="applyCss(announcementForm,'cls_section')"
                    >
                      <option value="" >Select Section</option>
                      <option
                        value="{{ section.id }}"
                        *ngFor="let section of allSection"
                      >
                        Section - {{ section.section_name }}
                      </option>
                    </select>
                    <span class="text-danger" *ngIf="validField(announcementForm,'cls_section')">Enter the section.</span>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-12 mb-2">
                  <div class="form-group">
                    <select
                      class="form-control rounded-pill shadow-sm"
                      id="exampleFormControlSelect2"
                      name="subject_id"
                      
                    >
                      <option value="">
                        Student Name
                      </option>
                      <option value="{{ student.student }}"
                      *ngFor="let student of allstudent"
                    >{{ student.student_name }}</option></select>
                  </div>
                </div>
                <div class="col-sm-3 mt-0">
                  <div class="form-group">
                    <input type="date" name="date" id="date"
                    class="rounded-pill shadow-sm p-1 w-100 text-muted"
                    formControlName="date" 
                    placeholder="Enter Date"
                    [ngClass]="applyCss(announcementForm,'date')"
                    >  
                    <span class="text-danger" *ngIf="validField(announcementForm,'date')">Enter the date.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 mb-12">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Title"
                      formControlName="title"
                      class="form-control rounded-pill shadow-sm"
                      [ngClass]="applyCss(announcementForm,'title')"
                    />
                    <span class="text-danger" *ngIf="validField(announcementForm,'title')">Enter the title.</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
                >
                  <div class="bg-white shadow-sm rounded overflow-hidden">
                    <div class="form-group">
                      <textarea
                        class="form-control border-0 pt-3"
                        rows="9"
                        id="comment"
                        placeholder="Type Your Announcement"
                        formControlName="description"
                        [ngClass]="applyCss(announcementForm,'description')"
                      ></textarea>
                    </div>
                  </div>
                  <span class="text-danger" *ngIf="validField(announcementForm,'description')">Enter the description.</span>

                  <br />
                  <!-- <app-file-upload></app-file-upload> -->
                  <div class="col-sm-6 mt-0">
                    <div class="form-group">
                      <label>Image 1</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                          (change)="selectFile($event,1)"
                        />
                        <label class="custom-file-label" for="customFile"
                          >{{ file1 }}</label
                        >
                      </div>
                      <input type="hidden" formControlName="image1" />
                    </div>
                  </div>

                  <div class="col-sm-6 mt-0">
                    <div class="form-group">
                      <label>Image 2</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                          (change)="selectFile($event,2)"
                        />
                        <label class="custom-file-label" for="customFile"
                          >{{ file2 }}</label
                        >
                      </div>
                      <input type="hidden" formControlName="image2" />
                    </div>
                  </div>

                  <div class="col-sm-6 mt-0">
                    <div class="form-group">
                      <label>Image 3</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="customFile"
                          (change)="selectFile($event,3)"
                        />
                        <label class="custom-file-label" for="customFile"
                          >{{ file3 }}</label
                        >
                      </div>
                      <input type="hidden" formControlName="image3" />
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mt-2">
                    <button
                      type="button"
                      class="btn btn-warning2 rounded-pill mt-3 pt-1 pl-4 pr-4 pb-1 text-decoration-none"
                      (click)="submitForm()"
                    >
                      <a
                        href="javascript:void(0)"
                        class="text-decoration-none text-dark"
                      >
                        Publish
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'HISTORY'">
          <div class="tab-pane fade show active">
            <div class="row">
              <div
                class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
              >
                <div class="bg-white shadow-sm rounded overflow-hidden">
                  <div class="table-responsive">
                    <table class="table text-nowrap table-striped text-left">
                      <thead class="bg-dark rounded text-white">
                        <tr>
                          <th class="pl-4">Date</th>
                          <th>Title</th>
                          <th>Creator</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let item of data">
                          <tr>
                            <td class="align-middle pl-4">{{ item.date | date: 'dd/MM/Y' }}</td>
                            <td class="align-middle">{{ item.title }}</td>
                            <td class="align-middle">{{ item.school_user }}</td>
                            <td class="align-middle text-center pointer">
                              <span
                                (click)="routeToAnnoncementDetailsPage(item.id)"
                                ><i class="fas fa-eye"></i
                              ></span>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <div class="pagination">
                        <button
                          (click)="changePage('PREVIOUS')"
                          class="pointer btn"
                        >
                          &laquo;
                        </button>
                        <ng-container
                          *ngFor="
                            let item of [].constructor(numberOfPages);
                            let index = index
                          "
                        >
                          <button
                            [ngClass]="{ active: index == pageNumber - 1 }"
                            (click)="changePage(index + 1)"
                            class="pointer btn"
                          >
                            {{ index + 1 }}
                          </button>
                        </ng-container>
                        <button
                          (click)="changePage('NEXT')"
                          class="pointer btn"
                        >
                          &raquo;
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
