.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffd338;
    border: 1px solid #ffd338;
}

.nav-item{
    float: left;
    margin-right: 18px;
    width: 262px;
    text-align: center;
}

.exam-section .nav > li > a {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    border-radius: 22px;
    box-shadow: 0 0.125rem 0.25rem rgb(111 103 103 / 59%) !important;
}

.btn.disabled, .btn:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  .pagination {
    display: inline-block;
  }

  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination button:hover:not(.active) {background-color: #ddd;}