<div class="container pt-5">
  <div class="row mt-0 attendance-page">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Student Attendance</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
      <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'CREATE' }"
            (click)="changeSelectedTab('CREATE')"
            >Update Attendance</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'HISTORY' }"
            (click)="changeSelectedTab('HISTORY')"
            >View Attendance</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <ng-template [ngIf]="selectedTab == 'CREATE'">
          <form [formGroup]="updateForm">
            <div class="row pt-1 mt-0">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="scl_class"
                    (change)="classChange($event)"
                  >
                    <option disabled value="">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClass"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                </div>
              </div>

              
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section" (change)="sectionChange()"
                  >
                    <option disabled value="">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSection"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 mb-2" [ngClass]="{'show': attendence_type != 'once',
              'hide': attendence_type == 'once'}">
                <div class="form-group w-100">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="routine" >
                    <option disabled value="">Select Subject</option>
                    <option
                      value="{{ sub.id }}"
                      *ngFor="let sub of allsubject"
                    >
                      {{ sub.subject }} ({{sub.start_time | stringdate}} To {{sub.end_time | stringdate}})
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 mb-2">
                <button
                  type="button" (click)="getstudent()"
                  class="btn btn-warning2 text-dark shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                 
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a>
                </button> -->
              </div>
            </div>
          </form>

          <!-- <div class="col-sm-4 col-xs-12 mb-2 pl-0">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                <option value="18" selected="">Bulk Action</option>  
              </select>
          </div>
        </div> -->
        
    
        <ng-template [ngIf]="student_list.length > 0">
          <div class="row">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <form #f="ngForm"  novalidate>
                  <table class="table text-nowrap table-striped">
                    <thead class="bg-dark rounded text-white">
                      <tr >                                                                                                               
                        <th>
                          <div class="form-check-inline pl-4">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input mr-2" value="" (click)="all_modal()"> Student Name
                            </label>
                          </div> 
                          </th>
                        <th class="text-center">Attendance</th>
                        <th class="text-center">Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stu of student_list; let i=index;">
                        <td class="align-middle pl-4">
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                  {{i+1}}. {{stu.student_name}}
                                </label>
                              </div> 
                      </td>
                        <td class="align-middle text-center">
                          <div class="form-check-inline pr-2">
                            <label class="form-check-label">
                              <input type="radio" name="present_status[{{i}}]" [(ngModel)]="atten_type[i]" required #present_status[{{i}}]="ngModel" value="present" class="form-check-input mr-2" required> Present
                            </label>
                          </div>
                          <div class="form-check-inline pr-2">
                            <label class="form-check-label">
                              <input type="radio" name="present_status[{{i}}]" [(ngModel)]="atten_type[i]" required #present_status[{{i}}]="ngModel" value="absent" class="form-check-input mr-2" required> Absent
                            </label>
                          </div>
                        </td>
                        <td class="align-middle text-center"><textarea id="tmarks_t" class="hide" name="teachers_remarks" [(ngModel)]="teachers_comment[i]">test</textarea><button type="button" (click)="teacher_remarks(i)" class="btn bg-danger rounded-pill mt-0 ml-2 pt-0 pb-1 pl-3 pr-3 text-decoration-none text-white"><small><i class="fa fa-plus mr-2" aria-hidden="true"></i> Add Remarks</small></button></td>               
                      </tr>
                      
                      </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <button type="button" (click)="onSubmit(f)" class="btn bg-danger rounded-pill mt-0 ml-2 pt-0 pb-1 pl-3 pr-3 text-decoration-none text-white"><small><i class="fa fa-plus mr-2" aria-hidden="true"></i> Submit</small></button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        </ng-template>

        <!-- SUBMITTED DIV -->
        <ng-template [ngIf]="selectedTab == 'HISTORY'">
          <form [formGroup]="viewForm">
            <div class="row pt-1 mt-0">
              <div class="col-sm-6 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="scl_class" 
                    (change)="classChange($event)"
                  >
                    <option value="">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClass"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section"
                  >
                    <option value="">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSection"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                </div>
              </div>

              <!-- <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="subject"
                  >
                    <option disabled value="SELECT">Select Subject</option>
                    <option
                      value="{{ subject.subject_id }}"
                      *ngFor="let subject of allSubjects"
                    >
                      {{ subject.subject }}
                    </option>
                  </select>
                </div>
              </div> -->
              <div class="col-sm-6 col-xs-12 mb-2" >
                <div class="form-group">
                  <label>Start Date</label>
                  <input type="date" id="sdate" (change)="myFunction()"
                    class="form-control rounded-pill shadow-sm">
                </div>
              </div>

              <div class="col-sm-6 col-xs-12 mb-2">
                <div class="form-group">
                  <label>End Date</label>
                  <input type="date" id="edate" (change)="myFunction1()"
                    class="form-control rounded-pill shadow-sm">
                </div>
              </div>

              <div class="col-sm-12 col-xs-12 d-flex justify-content-center mt-3 mb-2">
                <button
                  type="button"
                  class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark" (click)="OnSearching()"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                  </a>
                </button>

                <!-- <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a>
                </button> -->
              </div>
            </div>
          </form>
        <div class="row" *ngIf="table">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-center">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">R No.</th>
                        <th>Student Name</th>
                        <th>Attendance</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                      <tbody>
                          <tr  *ngFor="let st of studentAttendanceData">
                            <td class="align-middle pl-4">{{st.roll_number}}</td>
                            <td class="align-middle">{{st.student_name}}</td>
                            <td class="align-middle"></td>
                            <a title="Details" data-toggle="modal" (click)='getDetails(st.student)'><i
                              class="fas fa-info-circle"></i></a>                   
                          </tr>
                                                                                                                             
                      </tbody>
                  </table>
                 </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #docModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Attendence</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="w-100">
            <textarea id="tremarks" class="form-control" rows="5"></textarea>
            <button type="button" class="btn-warning2 rounded-pill mt-3 pt-1 pl-4 pr-4 pb-1 text-decoration-none text-dark" (click)="remarks_add()">Save Remarks</button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-danger rounded-pill" (click)="modal.close()">Close</button>
  </div>

</ng-template>
<ng-template #allModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Attendance</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="w-100">
            <label class="w-100 mb-3"><b>Attendence</b></label>
            <div class="form-check-inline pr-2 mb-2">
              <label class="form-check-label">
                <input type="radio" name="all_present_status"  value="present" class="form-check-input mr-2" required> Present
              </label>
            </div>
            <div class="form-check-inline pr-2 mb-2">
              <label class="form-check-label">
                <input type="radio" name="all_present_status"  value="absent" class="form-check-input mr-2" required> Absent
              </label>
            </div>
            <div class="">
              <label class="w-100 mb-3"><b>Remarks</b></label>
            <textarea id="alltremarks" class="form-control" rows="5"></textarea>
            </div>
            <button type="button" class="btn-warning2 rounded-pill mt-3 pt-1 pl-4 pr-4 pb-1 text-decoration-none text-dark" (click)="all_remarks_add()">Submit</button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-danger rounded-pill pl-3 pr-3" (click)="modal.close()">Close</button>
  </div>

</ng-template>
