<div class="container pt-5">

    <div class="row pt-5 mt-0 exam-section">

      <div class="col-sm-12 col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Exam Routine</a></li>
          <li><a data-toggle="tab" href="#menu1">Submitted Answer Sheets</a></li>
    
        </ul>
      
        <div class="tab-content mt-5">

          <div id="home" class="tab-pane fade in active">

            <div class="row">
                      <div class="col-sm-4 col-xs-12 mb-2">
                        <div class="form-group">
                          <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                              <option value="18" selected="">Select Exam</option>
                              <option value="18" selected="">Half Yearly Exam</option>      
                                <option value="22">Test Exam</option>
                          </select>
                      </div>
                    </div>
                    
                    <div class="col-sm-2 col-xs-12 mb-2">
                      <div class="form-group">
                        <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                          <option value="18" selected="">Select Class</option>
                          <option value="18" selected="">V</option>
                           <option value="19">VI</option>
                           <option value="20">VII</option>        
                        </select>
                    </div>
                  </div>

                  <div class="col-sm-2 col-xs-12 mb-2">
                    <div class="form-group">
                      <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                        <option value="18" selected="">Select Section</option>
                        <option value="18" selected="">A</option>
                         <option value="19">B</option>     
                      </select>
                  </div>
                </div>

                    <div class="col-sm-4 col-xs-12 mb-2">
                      <div class="form-group">
                        <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                          <option value="18" selected="">Select Subject</option>
                          <option value="18" selected="">Mathematics</option>
                           <option value="19">Physics</option>
                           <option value="20">History</option>
                           <option value="21">Geography</option>
                           <option value="22">English</option>        
                        </select>
                    </div>
                  </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                  <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                    <div class="table-responsive">
                    <table class="table text-nowrap table-striped text-left">
                      <thead class="bg-dark rounded text-white">
                        <tr>
                          <th class="pl-5">Day</th>
                          <th>Date</th>
                          <th>Subject</th>
                          <th>Start Time</th>
                          <th>End time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle pl-5"> Monday </td>
                          <td class="align-middle"> 25.02.2021</td>
                          <td class="align-middle">History</td>
                          <td class="align-middle">11.00 am</td>
                          <td class="align-middle"> 1.00 pm <a href="#" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        </tr>
                        <tr>
                          <td class="align-middle pl-5"> Monday </td>
                          <td class="align-middle"> 25.02.2021</td>
                          <td class="align-middle">History</td>
                          <td class="align-middle">11.00 am</td>
                          <td class="align-middle"> 1.00 pm <a href="#" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        </tr>
                        <tr>
                          <td class="align-middle pl-5"> Monday </td>
                          <td class="align-middle"> 25.02.2021</td>
                          <td class="align-middle">History</td>
                          <td class="align-middle">11.00 am</td>
                          <td class="align-middle"> 1.00 pm <a href="#" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        </tr>
                        <tr>
                          <td class="align-middle pl-5"> Monday </td>
                          <td class="align-middle"> 25.02.2021</td>
                          <td class="align-middle">History</td>
                          <td class="align-middle">11.00 am</td>
                          <td class="align-middle"> 1.00 pm <a href="#" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        </tr>                                                                                                                     
          
                      </tbody>
                    </table>
                   </div>
                    
                  </div>
                </div>

            </div>
          </div>


          <div id="menu1" class="tab-pane fade">

            <div class="row">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                      <option value="18" selected="">Select Exam</option>
                      <option value="18" selected="">Half Yearly Exam</option>      
                        <option value="22">Test Exam</option>
                  </select>
              </div>
            </div>
            
            <div class="col-sm-2 col-xs-12 mb-2">
              <div class="form-group">
                <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                  <option value="18" selected="">Select Class</option>
                  <option value="18" selected="">V</option>
                   <option value="19">VI</option>
                   <option value="20">VII</option>        
                </select>
            </div>
          </div>

          <div class="col-sm-2 col-xs-12 mb-2">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                <option value="18" selected="">Select Section</option>
                <option value="18" selected="">A</option>
                 <option value="19">B</option>     
              </select>
          </div>
        </div>

            <div class="col-sm-2 col-xs-12 mb-2">
              <div class="form-group">
                <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                  <option value="18" selected="">Select Subject</option>
                  <option value="18" selected="">Mathematics</option>
                   <option value="19">Physics</option>
                   <option value="20">History</option>
                   <option value="21">Geography</option>
                   <option value="22">English</option>        
                </select>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12 mb-2">
            <div class="form-group">
              <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect2" name="subject_id">
                <option value="18" selected="">Select Student Name</option>
                <option value="18" selected="">Anant Singh</option>
                 <option value="19">Subhajit Das</option>    
              </select>
          </div>
        </div>

    </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                  <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-left">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-3">Roll No</th>
                        <th>Student Name</th>
                        <th>Grade</th>
                        <th>Check Status</th>
                        <th>View Answer Sheet</th>
                        <th>Download/Upload Answer Sheet</th>
                        <th>Marks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle pl-3"> 01 </td>
                        <td class="align-middle">Sudeshna Sengupta</td>
                        <td class="align-middle">A+</td>
                        <td class="align-middle text-success">Checked</td>
                        <td class="align-middle"><a href="view-answersheet.html" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        <td class="align-middle"> <a href="#" class=""><i class="fa"><img src="img/slip-icon.png" title=""></i></a> <a href="#" class="ml-3"><i class="fa"><img src="img/slip-icon2.png" title=""></i></a></td>
                        <td class="align-middle"> 91</td>                     
                      </tr>
                      <tr>
                        <td class="align-middle pl-3"> 02 </td>
                        <td class="align-middle">Sudeshna Sengupta</td>
                        <td class="align-middle">A+</td>
                        <td class="align-middle text-success">Checked</td>
                        <td class="align-middle"><a href="view-answersheet.html" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        <td class="align-middle"> <a href="#" class=""><i class="fa"><img src="img/slip-icon.png" title=""></i></a> <a href="#" class="ml-3"><i class="fa"><img src="img/slip-icon2.png" title=""></i></a></td>
                        <td class="align-middle"> 91</td>                     
                      </tr>
                      <tr>
                        <td class="align-middle pl-3"> 03 </td>
                        <td class="align-middle">Sudeshna Sengupta</td>
                        <td class="align-middle">-</td>
                        <td class="align-middle text-danger">Unchecked</td>
                        <td class="align-middle"><a href="view-answersheet.html" class="ml-5"><i class="fa"><img src="img/eye-icon.png" title=""></i></a></td>
                        <td class="align-middle"> <a href="#" class=""><i class="fa"><img src="img/slip-icon.png" title=""></i></a> <a href="#" class="ml-3"><i class="fa"><img src="img/slip-icon2.png" title=""></i></a></td>
                        <td class="align-middle"> -</td>                     
                      </tr>

                                                                                                                     
        
                    </tbody>
                  </table>
                 </div>
                  
                </div>
              </div>

          </div>

          </div>  


        </div>
      </div>

    </div>



   



</div>