<div class="container">
  <div class="row pt-5 mt-0 exam-section">


    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Grade Card</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong class="pointer">Go
          Back</strong>
      </ul>

      <div class="row mb-3 mt-3">

        <div class="col-sm-2 col-xs-12">
          <div class="form-group">
            <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect1" name="exam_id">
              <option value="" selected="">Select Exam</option>
              <option value="{{ exam.id }}" *ngFor="let exam of allExam">
                {{ exam.exam_type }}
              </option>
            </select>
          </div>
        </div>


        <div class="col-sm-2 col-xs-12">
          <div class="form-group">
            <select class="form-control rounded-pill shadow-sm" [(ngModel)]="class_id" id="exampleFormControlSelect2"
              name="class_id" (change)="classChange($event)">
              <option value="" selected="">Select Class</option>
              <option value="{{ class.id }}" *ngFor="let class of allClass">
                {{ class.class_name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="form-group">
            <select class="form-control rounded-pill shadow-sm" [(ngModel)]="section_id" id="exampleFormControlSelect3"
              name="section_id" (change)="sectionChange($event)">
              <option value="">Select Section</option>
              <option value="{{ section.id }}" *ngFor="let section of allSection">
                {{ section.section_name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="form-group">
            <select class="form-control rounded-pill shadow-sm" id="exampleFormControlSelect4" name="subject_id"
              (change)="sectionChange($event)">
              <option value="" selected="">Select Student</option>
              <option value="{{ student.id }}" *ngFor="let student of allStudent">
                {{ student.student_name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12 mb-2">
          <button type="button" (click)="getDetails()"
            class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none">
            <a class="text-decoration-none text-dark"><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
            </a>
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__backInDown">
          <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
            <div class="table-responsive">
              <div class="bg-dark pt-3 pl-4 pb-2 mb-3 mt-1 ml-1 mr-1 text-white rounded text-left">
                <h6 class="font-weight-bold">Student Name</h6>
              </div>

              <table class="table table-borderless-top text-nowrap table-striped">
                <tbody>
                  <tr *ngFor="let list of studentList">
                    <td class="pl-4 align-middle">{{list.student_name}}</td>
                    <td class="text-right">

                      <button type="submit" (click)="viewDetails(list.student, list.exam)"
                        class="btn btn-warning rounded mt-0 mr-1 pt-0 pb-1 pl-4 pr-4 ml-3 text-decoration-none"><small><i
                            class="fa fa-eye mr-2" aria-hidden="true"></i> View</small></button>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Header -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Student Grade Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive p-0 pb-2">
      <table class="table table-bordered table-hover text-nowrap">
        <thead>
          <tr style="text-align:center">
            <th>Name</th>
            <th>Subject</th>
            <th>Exam Type</th>
            <th>Min. Marks</th>
            <th>Max. Marks</th>
            <th>Marks Obtained</th>
            <th>Grade</th>
            <th>Description</th>
            <th>Published Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of studentList" style="text-align:center">
            <td>{{list.student_name}}</td>
            <td *ngFor="let item of list['exam_details']">{{item.exam_routine__subject__subject__subject}}</td>
            <td *ngFor="let item of list['exam_details']">{{item.title}}</td>
            <td *ngFor="let item of list['grade_details']">{{item.min_marks}}</td>
            <td *ngFor="let item of list['grade_details']">{{item.max_marks}}</td>
            <td>{{list.total_marks_obtained}}</td>
            <td *ngFor="let item of list['grade_details']">{{item.grade}}</td>
            <td *ngFor="let item of list['exam_details']">{{item.description}}</td>
            <td>{{list.result_publish_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>