<div class="container pt-5">

    <div class="row pt-5 mt-0 exam-section">

      <div class="col-sm-12 col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Create a Lecture</a></li>
          <li><a data-toggle="tab" href="#menu1">Lecture History</a></li>
    
        </ul>
      
        <div class="tab-content mt-5">

          <div id="home" class="tab-pane fade in active">

            <div class="row">
                <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                  <div class="bg-white shadow-sm rounded overflow-hidden p-5">

                    <form [formGroup]="lectureForm">
                    <div class="row">   
                    
                      <div class="col-sm-4 col-xs-12 mb-2">
                        <div class="form-group">
                          <select
                                class="form-control rounded-pill shadow-sm"
                                formControlName="scl_class"
                                (change)="classChange($event)"
                              >
                                <option disabled value="">Select Class</option>
                                <option
                                  value="{{ class.id }}"
                                  *ngFor="let class of allClass"
                                >
                                  {{ class?.class_name }}
                                </option>
                              </select>
                      </div>
                    </div>
  
                    <div class="col-sm-4 col-xs-12 mb-2">
                      <div class="form-group">
                        <select
                                  class="form-control rounded-pill shadow-sm"
                                  formControlName="cls_section"
                                >
                                  <option disabled value="">Select Section</option>
                                  <option
                                    value="{{ section.id }}"
                                    *ngFor="let section of allSection"
                                  >
                                    Section - {{ section.section_name }}
                                  </option>
                                </select>
                    </div>
                  </div>
  
                      <div class="col-sm-4 col-xs-12 mb-2">
                        <div class="form-group">
                          <select
                              class="form-control rounded-pill shadow-sm"
                              formControlName="subject"
                            >
                              <option disabled value="">Select Subject</option>
                              <option
                                value="{{ subject.subject }}"
                                *ngFor="let subject of allSubjects"
                              >
                                {{ subject.subject_name }}
                              </option>
                            </select>
                      </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 mb-2">
                      <div class="form-group">
                        <input
                                type="text"
                                class="form-control shadow-sm rounded pt-2 pb-2"
                                placeholder="Add Your Title Here"
                                id="usr"
                                formControlName="lecture_title"
                              />
                    </div>
                  </div>

                  <div class="col-sm-4 col-xs-12 mb-2">
                    <div class="form-group">
                      <select class="form-control rounded shadow-sm"
                          id="exampleFormControlSelect2"
                          name="lecture_type"
                          formControlName="lecture_type"
                        >
                        <option disabled value="">Attachement Type</option>
                        <option value="vid">Video</option>
                        <option value="ppt">PPT</option>
                        <option value="doc">Doc</option>
                        </select>
                      
                  </div>
                </div>

                <div class="col-sm-4 col-xs-12 mb-2">
                  <div class="form-group">
                    
                    <div class="custom-file">
                        <input type="file"
                        class="custom-file-input" id="customFile"           
                        (change)="selectFile($event)"
                        >
                    <label class="custom-file-label" for="customFile">{{filen}}</label>                            
                    </div>
                   
                    <input type="hidden" 
                    formControlName="file_path"
                    
                    >
                </div>
                  
              </div>

              


              </div>


              <div class="d-flex justify-content-center mt-2"> <button type="button"
                class="btn btn-success shadow-sm rounded-pill mb-3 pl-4 pr-4 mr-2"
                (click)="submitForm()">Publish</button></div>
            </form>   
                  </div>
                
          
                </div>

            </div>
          </div>


          <div id="menu1" class="tab-pane fade">
            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                  <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-center">
                    <thead class="bg-dark rounded text-white">
                      <tr >
                        <th class="pl-4">Title</th>
                        <th>Date</th>
                        <th>Attachement Type</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="alllecture.length !== 0; else newDeb" >
                        <tr *ngFor="let lect of alllecture; let i=index;">
                          <td class="pl-4">{{lect.lecture_title}}</td>
                          <td class="">{{lect.created_at | date: 'dd/MM/y'}} </td>
                          <td class="">{{lect.lecture_type | uppercase}}</td>
                          <td class="text-center"><a href="{{lect.file_path}}" target="_blank" class="mr-3"><i class="fa"><img src="../../../../assets/img/eye-icon.png" title=""></i></a></td>
                        </tr>
                    </ng-container>
                    <ng-template #newDeb>
                      <tr>
                        <td class="align-middle pl-4" colspan="4">Sorry No Record Found</td>
                      </tr>
                    </ng-template>
                     
                    </tbody>
                  </table>
                 </div>
                  
                </div>
              </div>

          </div>
          </div>  
        </div>
      </div>
    </div>
</div>