
<div class="container pt-5 homeworks-page">
    <div class="row mb-3">
      <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
        <ul class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a (click)="goBack()">Exam</a></li>
          <!-- <li><a href="exams">Create Exam</a></li> -->
          <li>Add Questions</li>
          <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
            ><strong (click)="goBack()" class="pointer">Go Back</strong>
        </ul>
        <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
          <div
            class="bg-dark pt-3 pb-2 mb-3 text-white rounded d-flex justify-content-between exam_history"
          >
            <h6 class="font-weight-bold pl-4">Create New Questions</h6>
            <h6 class="font-weight-bold pr-4">
              <label class="pr-5"> Class - {{question_data?.scl_class}}-{{question_data?.section_name}}</label> Subject -{{question_data?.subject_name}}
            </h6>
          </div>
  
          <div class="row p-4">
            <div class="col-sm-12 col-xs-12 mb-2">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type Your Question"
                  id="usr"
                  [(ngModel)]="mainForm.question"
                />
              </div>
            </div>
  <!-- 
            <div class="col-sm-6 col-xs-12 mb-2">
              <div class="form-group">
                <select
                class="form-control rounded2"
                id="exampleFormControlSelect2"
                name="subject_id"
                placeholder="Media Type"
                [(ngModel)]="mainForm.media_type"
              >
              <option disabled value="SELECT">Select Media Type</option>
                <option value="3">No Media</option>
                <option value="1">Image</option>
                <option value="2">Video</option>
              </select>
               
              </div>
            </div>
  
            <div class="col-sm-6 mt-0">
              <div class="form-group">
                <label>Image 1</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                    (change)="selectFile($event)"
                  />
                  <label class="custom-file-label" for="customFile"
                    >{{ mainForm.media_name }}</label
                  >
                </div>
                <input type="hidden" [(ngModel)]="mainForm.media" />
              </div>
            </div> -->
  
            <div class="col-sm-6 col-xs-12 mb-2">
              <div class="form-group">
                <select
                  class="form-control rounded2"
                  id="exampleFormControlSelect2"
                  name="subject_id"
                  placeholder="Question Type"
                  [(ngModel)]="mainForm.question_type"
                  (change)="questionType($event)"
                >
                <option disabled value="SELECT" >Select Question Type</option>
                  <option value="1">Descriptive</option>
                  <option value="2">Yes and No</option>
                  <option value="3">Objective</option>
      
                </select>
              </div>
            </div>
            <div class="clearfix w-100"></div>
  
            <div class="col-sm-6 col-xs-12 mb-2" *ngIf="questionCondition == 3 ">
              Is Multiple
              <div class="form-check-inline ml-3">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="is_multiple"
                    value="1"
                    [(ngModel)]="mainForm.is_multiple"
                  />
                  Yes
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="is_multiple"
                    value="0"
                    [(ngModel)]="mainForm.is_multiple"
                  />
                  No
                </label>
              </div>
            </div>
  
            <div class="clearfix w-100 mb-4"></div>
  
            <div class="col-sm-12 col-xs-12 mb-2" *ngIf="questionCondition == 3 ">Options</div>
  
            <ng-container *ngIf="mainForm.options_list.length <4;">
              <div *ngIf="questionCondition == 3 " class="col-sm-6 col-xs-12 mb-2">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    id="usr"
                    [(ngModel)]="currentOption"
                  />
                </div>
              </div>
            <div class="col-sm-6 col-xs-12 mb-2 pl-0" *ngIf="questionCondition == 3 ">
              <button type="button" class="btn btn-light ml-2 pointer">
                <a (click)="addOptions()"
                  ><i class="fa" aria-hidden="true"
                    ><img
                      src="../../../../assets/img/plus.png"
                      title=""
                      alt="" /></i
                ></a>
              </button>
            </div>
          </ng-container>
  
            <div class="clearfix w-100"></div>
  
            <ng-container *ngFor="let item of mainForm.options_list; let index = index">
              <div class="col-sm-6 col-xs-12 mb-2">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    id="usr"
                    [(ngModel)]="mainForm.options_list[index]"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 mb-2 pl-0">
                <button type="button" class="btn btn-light pointer">
                  <a (click)="deleteOptions(index)"
                    ><i class="fa" aria-hidden="true"
                      ><img
                        src="../../../../assets/img/trash.png"
                        title=""
                        alt="" /></i
                  ></a>
                </button>
              </div>
              <div class="clearfix w-100"></div>
            </ng-container>
  
            <div class="clearfix w-100"></div>
  
            <div
              class="col-sm-12 col-xs-12 mb-2 pt-4 d-flex justify-content-center"
            >
              <button
                (click)="addQuestions()"
                type="button"
                class="btn btn-success shadow-sm rounded-pill mb-3 pl-5 pr-5"
              >
                Save Question
              </button>
              <button
              (click)="resetMainForm()"
              type="button"
              class="btn btn-danger shadow-sm rounded-pill mb-3 pl-5 pr-5 ml-2"
            >
              Reset Question
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
        <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
          <div class="table-responsive">
            <table class="table text-nowrap table-striped text-left">
              <thead class="bg-dark rounded text-white">
                <tr>
                  <th class="pl-4 w-75">Question</th>
                  <th>Question Type</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of finalQuestions; let index = index">
                  <tr>
                    <td class="align-middle pl-4">
                      {{index + 1}}. {{ item.question }}
                    </td>
                    <td class="align-middle">
                      {{item.question_type_name}}
                      <!-- <a (click)="editQuestion(index)"
                        ><i class="fa ml-5 pointer" aria-hidden="true"
                          ><img
                            src="../../../../assets/img/pencil.png"
                            title=""
                            alt="" /></i
                      ></a> -->
                      <a (click)="deleteQuestion(item?.id)"
                        ><i class="fa ml-3 pointer" aria-hidden="true"
                          ><img
                            src="../../../../assets/img/trash.png"
                            title=""
                            alt="" /></i
                      ></a>
                    </td>
                  </tr>
                </ng-container>
                <div
                class="col-sm-12 col-xs-12 mb-2 pt-4 d-flex justify-content-center"
              >
                <button
                  (click)="homeWorkSubmitWithQuestion()"
                  type="button"
                  class="btn btn-success shadow-sm rounded-pill mb-3 pl-5 pr-5"
                >
                  Final Submition
                </button>
              </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  