
/* large desktop :1400px. */
@media (min-width: 1400px) and (max-width: 2000px) {
  
}


/* desktop 1200px to 1600px */
@media (min-width: 1200px) and (max-width: 1600px) {

	
}



/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
.container {width:970px}
.dashboard h5{ font-size: 16px;}
.mkc-login-icon {
    width: 374px;
    margin-left: 13%;
    }
	
}



/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container {width:100%;}
.dashboard h5{ font-size: 15px;}
.dashboard .fa img{ 
    width: 20px;
    margin-top: 8px;
    margin-right: -6px;
    }
.badge-top {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    }
.loging-page {
    width: 347px;
    padding-top: 10%;
    padding-left: 14%;
   }
   .mkc-login-icon {
    width: 283px;
    margin-left: 11%;
    height: auto;
    margin-top: 34%;
}
.loging-page h2 { font-size: 22px;}
.circle-box {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.exam_history_btn{ font-size: 13px !important;}
.holiday_list h2{ font-size: 24px;}
.btn:not(:disabled):not(.disabled) {
    font-size: 14px;
    }
.grades_text h5{ font-size: 16px; } 

}



/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:100%;}
.school_logo {
    margin-left: 0px;
    width: 101px;
}
.timetable_section2 table thead tr th:first-child, .timetable_section2 table tbody tr td:first-child {
    width: 9em;
}
.timetable_section2 table thead tr th:nth-child(2), .timetable_section2 table tbody tr td:nth-child(2) {
    padding-left: 11em;
}
.current_text{ font-size: 12px; padding-left: 0px !important;}
.current_text h6{ font-size: 12px !important;}
.dropdown-menu {
    top: 99% !important;
    left: -37px !important;
    }
.dropdown-item {
    font-size: 13px;
    }

.login-logo {
    margin-top: 4%;
    }
.login-logo img{ width: 97px !important;}
.loging-page {
    width: 277px;
    padding-top: 12%;
    padding-left: 6%;
   }
   .mkc-login-icon {
    width: 277px;
    margin-left: 2%;
   }  
   .mkc-login-icon img {
    width: 58%;
    margin-left: 22%;
   }  

  .loging-page h2{ font-size: 22px;}
.top-user {
    position: absolute;
    right: 4px;
    }
.navbar-brand {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 127px;
     }
.navbar-brand img{
         width: 107px;
     }
.top-user .btn {
        line-height: 34px;
        font-size: 11px;
    }
.userimg {
        width: 28px;
        height: 28px;
        margin-top: 4px;
    }  
.userimg img {
        width: 35px;
        height: 37px;
    }
.openbtn {
    font-size: 16px;
    padding: 10px 0px !important;
    margin: 0px !important;
    }
.navbar-brand {
        padding-top: 0px;
        padding-bottom: 5px;
        margin-right: 156px;
    }
    .exam-section .nav-tabs > li {     
        width: 100%;  
        margin-bottom: 18px;
    }
    .answer_box {
        min-height: 186px;
    }
    .circle-box {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
    .exam_history .pl-5, .px-5 {
        padding-left: 1rem !important;
        font-size: 11px;
    }

    .group-discussions .btn {
        padding: 11px 28px !important; 
    }
    .similar-carousel .owl-prev {
       left: -6px;
    }
    .similar-carousel .owl-next {     
        right: -6px;
    }

}



/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:100%;}

    .navbar-brand {    
       margin-right: 71%;
      }
    .login-logo {
      margin-top: 3%;
     }
    .login-logo img {
      width: 53px !important;
      }
	
}


				
					
