<nav class="navbar navbar-expand-md navbar-dark fixed-top topbg">
    <i class="fa fa-bars text-dark fa-lg ml-3 mr-2 openbtn" (click)="openNav()" aria-hidden="true"></i>

    <div id="mySidepanel" class="sidepanel">
        <div class="left-logo">
<<<<<<< HEAD
            <a class="border-bottom-0"><img src="../../../../assets/img/logo.png" title="Kidboodle"
=======
            <a href="javascript:void(0)" class="border-bottom-0"><img src="../../../../assets/img/logo.png" title="Kidboodle"
>>>>>>> a6537ad65a6642c11f60564786cf4a947d2a1887
                    alt="Kidboodle"></a>
        </div>
        <a href="javascript:void(0)" class="closebtn border-bottom-0" (click)="closeNav()">×</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/dashboard-icon.png" title="" alt=""></i> Dashboard</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLinkActive]="['active']" [routerLink]="['/profile']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/profile-icon.png" title="" alt=""></i> Profile</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLinkActive]="['active']" [routerLink]="['/announcements']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/announcements-icon.png" title="" alt=""></i> Announcements</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLinkActive]="['active']" [routerLink]="['/timetable']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/timetable-icon.png" title="" alt=""></i> Timetable</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLinkActive]="['active']" [routerLink]="['/lectures']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/lectures-icon.png" title="" alt=""></i> Lectures</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLinkActive]="['active']" [routerLink]="['/student']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/student-icon.png" title="" alt=""></i> Student</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/student-attendance']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/attendance-icon.png" title="" alt=""></i> Student Attendance</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/homeworks']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/momeworks-icon.png" title="" alt=""></i> Homeworks</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/exams']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/momeworks-icon.png" title="" alt=""></i> Exams</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/group-discussions']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/group-discussions-icon.png" title="" alt=""></i> Group Discussions</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/live-classes']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/group-discussions-icon.png" title="" alt=""></i> Live Classes</a>
        <!-- <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/answer-sheets']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/exams-icon.png" title="" alt=""></i> Answer Sheets</a> -->
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/grade-cards']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/grades-icon.png" title="" alt=""></i> Grade Cards</a>
        <a class="dropdown-item hvr-wobble-top" (click)="closeNav()"  [routerLink]="['/holiday-calender']"><i class="fa" aria-hidden="true"><img
                    src="../../../../assets/img/holiday-calender-icon.png" title="" alt=""></i> Holiday Calender</a>
    </div>

    <a class="navbar-brand"><img src="../../../../assets/img/logo.png" title="Kidboodle" alt="Kidboodle"></a>
    <!-- <a class="school_logo" href="#"><img src="../../../../assets/img/school_logo.png" title="" alt=""></a> -->
    <a class="school_logo"><h4 class="font-weight-bold mt-2">{{schoolname}}</h4></a>
    <div class="dropdown top-user">
        <button class="btn bg-transparent border-0 rounded-0 dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="userimg mr-2"><img src="{{teacherImage}}" class="img-responsive" title="">
        </div> {{ currentUser.result.user_details.first_name}} {{ currentUser.result.user_details.last_name}}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
            <!-- <a class="dropdown-item" href="#">My Account</a> -->
            <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Sign Out</a>
        </div>
    </div>
</nav>

<script>
    function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
    }
</script>