<div class="container pt-5" >
    <div class="row pt-2 mt-0 exam-section">
        <div class="col-sm-12 col-xs-12">

            <ul class="breadcrumb">
                <li><a routerLink="/">Dashboard</a></li>
                <li>Upcoming live-classes</li>
                
                <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                    class="pointer">Go
                    Back</strong>
            </ul>

            <ul class="nav nav-tabs" >
                <li class="pointer" [routerLink]="['/live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Upcoming&nbsp;Live&nbsp;Classes</a>
                </li>

                <li class="pointer" [routerLink]="['/create-live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Create Live Class</a>
                </li>

                <li class="pointer" [routerLink]="['/live-classes-history']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Live Classes History</a>
                </li>
            </ul>

            <!-- search functionality -->

                <div class="tab-content mt-2">
                    <div class="tab-pane fade in active">
                        <form [formGroup]="searchForm">
                            <div class="row">
                                
                                <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                                    <div class="bg-white shadow-sm rounded overflow-hidden p-5">
                                        <div style="text-align: center;" class="mb-4">
                                            <h5>Search a Live Class</h5>
                                        </div>
                                        <div class="row">
    
                                            <div class="col-sm-4 col-xs-12 mb-2">
                                                <div class="form-group">
                                                    <select class="form-control rounded" id="exampleFormControlSelect2"
                                                    name="subject_id"
                                                    (change)="onChangeClass($event)"
                                                    formControlName="search_class"
                                                    
                                                    >
                                                    <option value="">Select Class</option>
                                                    <option value="{{class.id}}" *ngFor="let class of allClassList">{{class.class_name}}
                                                    </option>
                                                    </select>
                                                </div>
                                                
                                            </div>
    
                                            <div class="col-sm-4 col-xs-12 mb-2">
                                                <div class="form-group">
                                                    <select class="form-control rounded" id="exampleFormControlSelect2"
                                                    name="subject_id" 
                                                    formControlName="search_section"
                                                    >
                                                    <option value="">Select Section</option>
                                                    <option value="{{section.id}}" *ngFor="let section of allSectionList">{{section.section_name}}
                                                    </option>
                                                    </select>
                                                </div> 
                                            </div>

                                            <div class="col-sm-4 col-xs-12 mb-2">
                                                <div class="form-group">
                                                    <input type="date" class="form-control"
                                                    placeholder="Date"
                                                    id="usr"
                                                    min="{{minDate}}"
                                                    (change)="onChangeDate($event)"
                                                    formControlName="search_date"
                                                    >
                                                </div> 
                                            </div>
                                            
                                            <!-- <div class="col-sm-3 col-xs-12 mb-2">
                                                <div class="form-group">
                                                    <select class="form-control rounded" id="exampleFormControlSelect2"
                                                    name="subject_id"
                                                    formControlName="search_routine"
                                                    (change)="onSelectRoutine($event)">
                                                    <option value="">Select Routine</option>
                                                    <option value="{{routine.id}}" *ngFor="let routine of allRoutineList">{{routine.subject}}
                                                    </option>
                                                    </select>
                                                </div>                                 
                                            </div> -->
                                        </div>
    
                                        <div class="d-flex justify-content-center mt-2"> <button type="button" (click)="searchBtnClick()"
                                            class="btn btn-warning rounded-pill mt-3 pt-1 pl-4 pr-4 pb-2 text-decoration-none"><a
                                            class="text-decoration-none text-dark" > Search </a></button>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </form>
                    </div>
                </div>
           <!-- search functionality ends here -->

           <div class="row">

                <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__backInDown">
                  <div class="bg-white shadow-sm rounded overflow-hidden">
                    <div class="table-responsive">
                      <table class="table text-nowrap table-striped">
                        <thead class="bg-dark rounded text-white">
                          <tr>
                            <th class="pl-4">S.no.</th>
                            <th class="pl-4">Date</th>
                            <th class="pl-4">Time</th>
                            <th class="">Class</th>
                            <th class="text-center">Subject</th>
                            <th class="text-center">Status</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="allupcomingLiveClass.length != 0">
                          <tr *ngFor="let liveclass of allupcomingLiveClass  | paginate: {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalItems
                          };let i = index">
                            <td class="pl-4 align-middle">{{pageSize *(page-1)+i+1}}</td>
                            <!-- {{pageSize *(page-1)+i+1}} -->
                            <td class="pl-4 align-middle">{{liveclass?.date | date :"dd/MM/yyyy"}}</td>
                            <td class="pl-4 align-middle">{{liveclass?.routine.start_time}}</td>
                           
                            <td class="align-middle">{{liveclass?.routine?.class_name}} -{{liveclass?.routine?.section_name}}</td>
                            <td class="align-middle text-center">{{liveclass?.routine?.subject_name}}</td>
                            <td class="d-flex justify-content-center"> 
                              
                              <a><button type="button" (click)="startcallbtn(liveclass)"
                                  class="btn btn-success rounded-pill mt-0 mr-2 pt-0 pb-1 pl-4 pr-4 ml-2 text-decoration-none text-white"><small>Start Call</small></button></a></td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                      
                    </div>
    
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>