<div class="container pt-5">
    <div class="row pt-2 mt-0 exam-section">
        <div class="col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a routerLink="/">Dashboard</a></li>
                <li>Create live-classes</li>

                <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                    class="pointer">Go
                    Back</strong>
            </ul>

            <ul class="nav nav-tabs">
                <li class="pointer" [routerLink]="['/live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Upcoming&nbsp;Live&nbsp;Classes</a>
                </li>

                <li class="pointer" [routerLink]="['/create-live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Create Live Class</a>
                </li>

                <li class="pointer" [routerLink]="['/live-classes-history']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><a>Live Classes History</a>
                </li>
            </ul>

            <div class="tab-content mt-2">
                <div class="tab-pane fade in active">
                    <form [formGroup]="liveClassForm">
                        <div class="row">
                            
                            <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                                <div class="bg-white shadow-sm rounded overflow-hidden p-5">
                                    <div style="text-align: center;" class="mb-4">
                                        <h5>Create a Live Class</h5>
                                    </div>
                                    <div class="row">

                                        

                                        <div class="col-sm-3 col-xs-12 mb-2">
                                            <div class="form-group">
                                                <select class="form-control rounded"   id="exampleFormControlSelect2"
                                                    name="subject_id"
                                                    formControlName="class"
                                                    [ngClass]="applyCss(liveClassForm,'class')"
                                                    (change)="onChangeClass($event)">
                                                    <option value="">Select Class</option>
                                                    <option value="{{class.id}}" *ngFor=" let class of allClassList">{{class.class_name}}
                                                        </option>
                                                </select>
                                            </div>
                                            <span class="text-danger" *ngIf="validField(liveClassForm,'class')">Class is required.</span>
                                        </div>

                                        <div class="col-sm-3 col-xs-12 mb-2">
                                            <div class="form-group">
                                                <select class="form-control rounded" id="exampleFormControlSelect2"
                                                name="section_id"
                                                formControlName="section"
                                                >
                                                    <option value="">Select Section</option>
                                                    <option value="{{section.id}}" *ngFor="let section of allSectionList">{{section.section_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            
                                        </div>

                                        <div class="col-sm-3 col-xs-12 mb-2">
                                            <div class="form-group">
                                                <input type="date" class="form-control"
                                                placeholder="Date"
                                                id="usr"
                                                formControlName="date"
                                                [ngClass]="applyCss(liveClassForm,'date')"
                                                (change)="onChangeDate($event)"
                                                >
                                            </div>  
                                            <span class="text-danger" *ngIf="validField(liveClassForm,'date')">Date is required.</span>
                                        </div>

                                        <div class="col-sm-3 col-xs-12 mb-2">
                                            <div class="form-group">
                                                <select class="form-control rounded" id="exampleFormControlSelect2"
                                                name="subject_id"
                                                formControlName="routine"
                                                [ngClass]="applyCss(liveClassForm,'routine')">
                                                <option value="">Select Routine</option>
                                                <option value="{{routine.id}}" *ngFor="let routine of allRoutineList">{{routine.subject}}
                                                </option>
                                                </select>
                                            </div> 
                                            <span class="text-danger" *ngIf="validField(liveClassForm,'routine')">Routine is required.</span>                                      
                                        </div>

                                        <div class="col-sm-6 col-xs-12 mb-2">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                placeholder="Zoom link"
                                                id="link"
                                                formControlName="zoomlink"
                                                [ngClass]="applyCss(liveClassForm,'zoomlink')"
                                                >
                                            </div> 
                                            <span class="text-danger" *ngIf="validField(liveClassForm,'zoomlink')">Zoomlink is required.</span>                                      
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-2"> <button type="button" (click)="createBtnClick()"
                                        
                                            class="btn btn-success rounded-pill mt-3 pt-1 pl-4 pr-4 pb-2 text-decoration-none"><a
                                                class="text-decoration-none text-dark"> Create </a></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>