<div class="container pt-5">
  <div class="row">
    <div class="col">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="exams">Exam</a></li>
        <li>Create Exam</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
    </div>
  </div>
  <form [formGroup]="homeworkForm">
  <div class="row mt-0">
    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="scl_class"
          (change)="classChange($event)"
        >
          <option disabled value="">Select Class</option>
          <option
            value="{{ class.id }}"
            *ngFor="let class of allClass"
          >
            {{ class.class_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="cls_section" (change)="secionChange($event)"
        >
          <option disabled value="">Select Section</option>
          <option
            value="{{ section.id }}"
            *ngFor="let section of allSection"
          >
            Section - {{ section.section_name }}
          </option>
        </select>
      </div>
    </div>

    <!-- <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="subject"
        >
          <option disabled value="SELECT">Select Subject</option>
          <option
            value="{{ subject.subject_id }}"
            *ngFor="let subject of allSubjects"
          >
            {{ subject.subject }}
          </option>
        </select>
      </div>
    </div> -->

     <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select (change)="secionExam($event)"
          class="form-control rounded-pill shadow-sm"
          formControlName="examType"
        >
          <option disabled value="">Select Exam type</option>
          <option
            value="{{ subject.id }}"
            *ngFor="let subject of allExam"
          >
            {{ subject.exam_type }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="schedule" (change)="secionSchedule($event)"
        >
          <option disabled value="">Select Schedule</option>
          <option
            value="{{ subject.id }}"
            *ngFor="let subject of allschedule"
          >
            {{ subject.start_date }} -  {{ subject.end_date }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 mb-2">
      <div class="form-group">
        <select
          class="form-control rounded-pill shadow-sm"
          formControlName="routine" 
          (change)="selectRoutine($event)"
        >
          <option disabled value="">Select Routine</option>
          <option
            value="{{ subject.id }}"
            *ngFor="let subject of allroutine"
            >
           Date - {{subject?.date}} {{ subject.start_time | date:'shortTime' }} - {{ subject.end_time | date:'shortTime' }}
          </option>

          <!-- <option value="">12 Dec 2020 - History - 10.45 - 11.45</option> -->
        </select>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 mb-2" *ngIf="routineObj['total_marks']">
      <div class="form-group">
       <span>Total Marks - {{routineObj['total_marks']}}</span>
      </div>
    </div>



  </div>

  <div class="row pt-3 mt-0">
    <div class="col-sm-6 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="text"
          class="form-control shadow-sm rounded pt-2 pb-2"
          placeholder="Add Your Title Here"
          id="usr"
          formControlName="title"
          formControlName="title"
        />
      </div>
    </div>
<!-- 
    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="date"
          name="date"
          id="date"
          value="Due Date"
          class="p-2 w-100 text-muted rounded shadow-sm"
          formControlName="start_date"
        />
      </div>
    </div> -->
<!-- 
    <div class="col-sm-3 col-xs-12 mb-2">
      <div class="form-group">
        <input
          type="date"
          name="date"
          id="date"
          value="Due Date"
          class="p-2 w-100 text-muted rounded shadow-sm"
          formControlName="end_date"
        />
      </div>
    </div> -->

    <div class="col-sm-12 col-xs-12 mb-2">
      <div class="form-group">
        <textarea
          class="form-control shadow-sm pt-3"
          rows="9"
          placeholder="Add A description Here"
          id="comment"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12 mb-2">
      <div class="form-group">
        <select (change)="fileAttached($event)"
          class="form-control rounded shadow-sm"
          id="exampleFormControlSelect2"
          name="subject_id"
          formControlName="question_type"
        >
        <option disabled value="SELECT">Select Question Type</option>
        <option value="1">Attachment</option>
        <option value="2">Online</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12 mb-2" >
      <div class="form-group">
        <input type="file" class="form-control rounded shadow-sm" *ngIf="fileDiv"
        id="exampleFormControlSelect2" (change)="addQuestionImage($event)"
        formControlName="attachement">
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 mb-2">
      <a
        ><button
          type="button"
          class="btn btn-success shadow-sm rounded-pill mb-3 pl-4 pr-4 mr-2"
          (click)="submitForm()"
        >
          Save & Create Exam
        </button></a
      >
    </div>
  </div>
</form>
</div>
