<div class="container pt-5">

  <div class="row pt-5 mt-0 exam-section">

    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a routerLink="/">Dashboard</a></li>
        <li>Group-discussion</li>
        <li>Create Group discussion</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go
          Back</strong>
      </ul>

      <ul class="nav nav-tabs">
        <li class="pointer" [routerLink]="['/group-discussions']" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:
        true}"><a>Create&nbsp;a&nbsp;Group&nbsp;Discussion</a>
        </li>
        <li class="pointer" [routerLink]="['/group-discussions-history']" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:
        true}"><a>Group Discussion History</a>
        </li>
      </ul>

      <div class="tab-content mt-5">

        <div class="tab-pane fade in active">

          <form [formGroup]="gdForm">
            <div class="row">
            
              <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                <div class="bg-white shadow-sm rounded overflow-hidden p-5">

                   <div class="row">
                    <div class="col-sm-12 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="text"
                        class="form-control" 
                        placeholder="Group Discussion Title" 
                        id="title"
                        [(ngModel)]="updateGd.title"
                        formControlName="title"
                        [ngClass]="applyCss(gdForm,'title')"
                        >
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'title')">Title is required.</span>
                    </div>
  
                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="time"
                        class="form-control" 
                        placeholder="Start Time" 
                        id="start_time"
                        [(ngModel)]="updateGd.start_time"
                        formControlName="stime"
                        [ngClass]="applyCss(gdForm,'stime')">
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'stime')">Start Time is required.</span>
                    </div>

                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="time"
                        class="form-control" 
                        placeholder="End Time" 
                        id="end_time"
                        [(ngModel)]="updateGd.end_time"
                        formControlName="etime"
                        [ngClass]="applyCss(gdForm,'etime')"
                        >
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'etime')">End Time is required.</span>
                    </div>
  
                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="date"
                        class="form-control" 
                        min="{{disableDate}}"
                        placeholder="Date" 
                        id="usr"
                        [(ngModel)]="updateGd.date"
                        formControlName="date"
                        [ngClass]="applyCss(gdForm,'date')"
                        >
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'date')">Date is required.</span>
                    </div>
  
                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <select class="form-control rounded" id="exampleFormControlSelect2"
                        name="class_id"
                        formControlName="class"
                        [(ngModel)]="updateGd.scl_class"
                        (change)="onClassChange($event)"
                        [ngClass]="applyCss(gdForm,'class')"
                        >
                        <option value="" >Select Class</option>
                        <option value="{{class.id}}" *ngFor="let class of allClassList">{{class.class_name}}</option>
                        </select>
                        <span class="text-danger" *ngIf="validField(gdForm,'class')">Class is required.</span>
                      </div>
                      
                    </div>
  
                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <select class="form-control rounded" id="exampleFormControlSelect2"
                        name="section_id"
                        [(ngModel)]="updateGd.cls_section"
                        formControlName="section"
                        [ngClass]="applyCss(gdForm,'section')"
                        >
                          <option value="">Select Section</option>
                          <option value="{{section.id}}" *ngFor="let section of allSectionList">{{section.section_name}}</option>
                        </select>
                        <span class="text-danger" *ngIf="validField(gdForm,'section')">Section is required.</span>
                      </div>
                      
                    </div>
  
                    <div class="col-sm-3 col-xs-12 mb-2">
                      <div class="form-group">
                        <select class="form-control rounded" id="exampleFormControlSelect2"
                        name="subject_id"
                        [(ngModel)]="updateGd.subject"
                        formControlName="subject"
                        [ngClass]="applyCss(gdForm,'subject')"
                        >
                          <option value="">Select Subject</option>
                          <option value="{{subject.id}}" *ngFor="let subject of allSubjectList">{{subject.subject_name}}</option>
                        </select>
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'subject')">Subject is required.</span>
                    </div>
  
                    <div class="col-sm-6 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="text"
                        class="form-control" 
                        placeholder="Video link" 
                        id="link"
                        [(ngModel)]="updateGd.zoom_link"
                        formControlName="zoomlink"
                        [ngClass]="applyCss(gdForm,'zoomlink')">
                        <!-- </select> -->
                      </div>
                      <span class="text-danger" *ngIf="validField(gdForm,'zoomlink')">Videolink is required.</span>
                    </div>

                    <div class="col-sm-6 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="file"
                        class="form-control" 
                        accept=".jpeg,.gif,.jpg,.png,.doc,.docx"
                        id="attachment1"
                        formControlName="attachment_1"
                        (change)="showPreview1($event)"
                        >
                      </div>
                      
                      <div  *ngIf="updateGd.attachment_1 && updateGd.attachment_1 != ''">
                        <img [src]="updateGd.attachment_1">
                      </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 mb-2">
                      <div class="form-group">
                        <input type="file"
                        class="form-control"
                        accept=".jpeg,.gif,.jpg,.png,.doc,.docx" 
                        id="attachment2"
                        formControlName="attachment_2"
                        (change)="showPreview2($event)"
                        >
                      </div>
                      <div class="imagePreview" *ngIf="updateGd.attachment_2 && updateGd.attachment_2 != ''">
                        <img [src]="updateGd.attachment_2" >
                      </div>
                    </div>

                  </div>
  
                  <div class="d-flex justify-content-center mt-2"> <button type="button" (click)="saveBtn_Click()"
                     class="btn btn-success rounded-pill mt-3 pt-1 pl-4 pr-4 pb-2 text-decoration-none"><a
                       class="text-decoration-none text-dark"> Create </a></button>
                  </div>  
                </div>
              </div>
  
            </div>
          </form>
          
          <div class="row">

            <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__backInDown">
              <div class="bg-white shadow-sm rounded overflow-hidden">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">Sl.no</th>
                        <th class="pl-4">Date</th>
                        <th class="">Start Time</th>
                        <th class="">End Time</th>
                        <th class="">Class</th>
                        <th class="text-center">Subject</th>
                        <th class="text-center">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let gd of allUpcomingGdList | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalItems
                      };let i = index">
                        <td class="pl-4 align-middle">{{pageSize *(page-1)+i+1}}</td>
                        <td class="pl-2 align-middle">{{gd.date | date:"dd/MM/yyyy"}}</td>
                        <td class="align-middle">{{gd.start_time | date:'shortTime'}}</td>
                        <td class="align-middle">{{gd.end_time | date:'shortTime'}}</td>
                        <td class="align-middle">{{gd?.class_name}} - {{gd?.section}}</td>
                        <td class="align-middle text-center">{{gd?.subject_name}}</td>
                        <td class="d-flex justify-content-center" *ngIf="allUpcomingGdList.length !== 0"> 
                          <a><button type="button" (click)="editBtnClick(gd)"
                              class="btn bg-warning rounded-pill mt-0 mr-2 pt-0 pb-1 pl-4 pr-4 ml-2 text-decoration-none text-white"><small>Edit</small></button></a>
                          <a><button type="button" (click)="startCallBtn(gd)" 
                              class="btn btn-success rounded-pill mt-0 mr-2 pt-0 pb-1 pl-4 pr-4 ml-2 text-decoration-none text-white"><small>Start
                              Group Call</small></button></a>
                              <a><button type="button" (click)="deleteBtnClick(gd)"
                                class="btn bg-danger rounded-pill mt-0 mr-2 pt-0 pb-1 pl-3 pr-3 ml-2 text-decoration-none text-white"><small>Delete</small></button></a>
                            </td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>