<div class="container pt-5">
  <div class="row mt-0 homeworks-page">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Exam</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong class="pointer">Go Back</strong>
      </ul>
      <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'CREATE' }"
            (click)="changeSelectedTab('CREATE')"
            >Create Exam</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'HISTORY' }"
            (click)="changeSelectedTab('HISTORY')"
            >Submitted Exam</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <ng-template [ngIf]="selectedTab == 'CREATE'">
          <form [formGroup]="homeworkForm">
            <div class="row pt-1 mt-0">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm test"
                    formControlName="scl_class"
                    (change)="classChange($event)"
                    [ngClass]="applyCss(homeworkForm,'scl_class')"
                  >
                    <option value="">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClass"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(homeworkForm,'scl_class')">Enter the class.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section"
                    [ngClass]="applyCss(homeworkForm,'cls_section')"
                  >
                    <option value="">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSection"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(homeworkForm,'cls_section')">Enter the section.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="subject"
                    [ngClass]="applyCss(homeworkForm,'subject')"
                  >
                    <option disabled value="">Select Subject</option>
                    <option
                      value="{{ subject.subject_id }}"
                      *ngFor="let subject of allSubjects"
                    >
                      {{ subject.subject }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(homeworkForm,'subject')">Enter the subject.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <button
                  type="button"
                  class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                  </a>
                </button>
                <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a>
                </button>
              </div>
            </div>
          </form>

          <div class="row">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-left">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">Class</th>
                        <!-- <th class="pl-4"></th> -->
                        <th class="pl-4">Type</th>
                        <th>Title</th>
                        <th class="text-center">Schedule Name</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngFor="let rows of list; let index = index"
                      >
                        <tr>
                          <td class="align-middle pl-4">
                            {{ rows.class_name }} -  {{ rows.section_name }}
                           
                          </td>
                          <td class="align-middle"> {{ rows.exam_type_name }}</td>
                          <td class="align-middle">{{ rows.title }}</td>
                        {{ rows.exam_schedule_name}}
                          <!-- <td class="text-center">
                            <ng-container *ngIf="rows.is_active">
                              <label class="switch">
                                <input type="checkbox" checked />
                                <span
                                  (click)="
                                    changeStatusQuestion(rows.id, index, 0)
                                  "
                                  class="slider slider2 round"
                                ></span>
                              </label>
                            </ng-container>
                            <ng-container *ngIf="!rows.is_active">
                              <label class="switch">
                                <input type="checkbox" />
                                <span
                                  (click)="
                                    changeStatusQuestion(rows.id, index, 1)
                                  "
                                  class="slider round"
                                ></span>
                              </label>
                            </ng-container>
                          </td> -->
                          <!-- <td class="align-middle text-center pointer" >
                            
                          </td> -->
                          <td class="align-middle text-center pointer" *ngIf="rows.question_type === 2" >
                            <span  *ngIf="rows.is_finalized === false" (click)="addQestion(rows)"><i *ngIf="rows.question_type === 2" class="fa fa-plus-circle"></i></span>
                            <span><i class="fas fa-eye"></i
                            ></span>
                          </td>
                          <td class="align-middle text-center pointer" *ngIf="rows.question_type === 1" >
                            <span  *ngIf="rows.is_finalized === false" (click)="addQestion(rows)"><i *ngIf="rows.question_type === 2" class="fa fa-plus-circle"></i></span>
                            <span
                              ><i class="fas fa-eye"></i
                            ></span>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- SUBMITTED DIV -->
        <ng-template [ngIf]="selectedTab == 'HISTORY'">
          <form [formGroup]="submittedForm">
            <div class="row pt-1 mt-0">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="scl_class"
                    (change)="classChange($event)"
                    [ngClass]="applyCss(submittedForm,'scl_class')"
                  >
                    <option disabled value="">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClass"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(submittedForm,'scl_class')">Enter the class.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section"
                    [ngClass]="applyCss(submittedForm,'cls_section')"
                  >
                    <option disabled value="">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSection"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(submittedForm,'cls_section')">Enter the section.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="subject"
                    [ngClass]="applyCss(submittedForm,'subject')"
                  >
                    <option disabled value="">Select Subject</option>
                    <option
                      value="{{ subject.subject_id }}"
                      *ngFor="let subject of allSubjects"
                    >
                      {{ subject.subject }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="validField(submittedForm,'subject')">Enter the subject.</span>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <button (click) = "teacher_submitted_exam_list_search()"
                  type="button"
                  class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <a
                    
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                  </a>
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                  <a
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a>
                </button> -->
              </div>
            </div>
          </form>
          <div class="row">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-left">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th>Roll No.</th>
                        <th>Date</th>
                        <th class="text-center">View</th>
                        <th class="text-center">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subh of submittedExam; let i = index">
                          <td class="align-middle pl-4">{{subh.student[0].student_fname}} {{subh.student[0].student_lname}}</td>
                          <td class="align-middle">{{subh.class_name}}</td>
                          <td class="align-middle">{{subh.section}}</td>
                          <td class="align-middle">{{subh.subject}}</td>
                          <td class="align-middle">{{subh.student_roll}}</td>
                          <td class="align-middle">{{subh.ans_date | date: 'dd/MM/y'}}</td>
                          <td class="text-center">
                            <ng-template [ngIf]="subh.question_type == '2'"> <span class="pointer" (click)="goToSubmittedExamDetails(subh.status,subh.id,subh.exam,subh.student[0].id,subh.student[0].student_fname,subh.student[0].student_lname,subh.subject,subh.class_name,subh.section)"
                              ><i class="fas fa-eye"></i
                            ></span>
                            </ng-template>
                            
                          </td>
                          <td class="text-center">
                            <ng-template [ngIf]="subh.question_type == '1'"> <a href="{{subh.attachment_ans}}" terget="_blank"><span
                              ><i class="fas fa-download"></i
                            ></span></a>
                            </ng-template>
                            <ng-template [ngIf]="subh.question_type == '1' && subh.status == '1'"><a (click)="attachmen_modal(subh.id,subh.student[0].id)" class="btn btn-info rounded-pill ml-2 text-white" terget="_blank"><span
                              >Upload Remarks</span></a></ng-template>
                            <ng-template [ngIf]="subh.question_type == '1' && subh.status == '2'"><a href="{{subh.correct_attachment_ans}}" class="btn btn-info rounded-pill ml-2" terget="_blank">Exam Remarks 
                            </a></ng-template>
                           
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #answerModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Exam Review :</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
   <div class="form-group">
    <form [formGroup]="areviewForm">

    <div class="row">
      <div class="col-sm-6 col-xs-12 mb-2">
          <div class="form-group">
              <label>Upload Review</label>
              <div class="custom-file">
                  <input type="file" id="customFile"  (change)="selectFile($event)" class="custom-file-input">
                  <label for="customFile" class="custom-file-label">{{filen}}</label>
                  <input type="hidden" formControlName="attachment_link" />
              </div>
          </div>
          <div class="form-group">
            <label for="marks_obtain">Marks Obtain</label>
            <input type="number" class="form-control" formControlName="marks_obtain" id="marks_obtain" placeholder="Marks Obtain">
            
          </div>
         
      </div>
      <div class="col-sm-12 col-xs-12 mb-2">
          <button type="button" (click)="attach_submit()" class="btn btn-success shadow-sm rounded-pill mb-3 pl-4 pr-4 mr-2">Publish</button>
      </div>
    </div>
    </form>
    </div>
  </div> 
  <div class="modal-footer">
    <button type="button" id="modal_close" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
  
  </ng-template>