body {
  font-family: 'Lato', sans-serif;
  }
  :root{
    scrollbar-color: #7c4e01 #B8BDC4;
    scrollbar-track-color: #7c4e01;
    scrollbar-width: thin; 
    }

.dash_bg{
  /* background-image: url(../img/dashboard_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  min-height: 597px; */
  }
 .dashboard .similar-carousel .owl-prev {
    top: 33px;
   }
.dashboard .similar-carousel .owl-next {
    top: 33px;
   }

.login-section{
  /* background-image: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  min-height: 597px; */
  }
.login-logo{
  margin-top: 1%;
  margin-left: 5%;
  }
.mkc-login-icon{
  width: 427px;
  margin-left: 22%;
  height: auto;
      }
.mkc-login-icon img{
        width: 100%;
        }
.loging-page {
          width: 487px;
          padding-top: 10%;
          padding-left: 22%;
      }
.loging-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.rounded-pill{
  border-radius: 22px;
}
.btn-warning2 {
  color: #242222;
  background-color: #ffd338;
  border-color: #ffd338;
}
.btn-warning2:hover {
  color: #242222;
  background-color: #f17e02;
  border-color: #f17e02;
}
.btn-warning {
  color: #ffffff;
  background-color: #ff8f16;
  border-color: #ff8f16;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #f17e02;
  border-color: #f17e02;
}
.border-bottom {
  border-bottom: 3px solid #fff !important;
}
.userimg{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  }
.userimg img{  width: 41px;
  height: 41px;}
.border-bottom2 {
  border-bottom: 1px solid #171717 !important;
}
.bg-light2 {
  background-color: #eaeaea !important;
}
.topbg{
  background: #ffb400;
}
.top-user{
  position: absolute;
  right: 40px;
  }
.top-user .btn {
    line-height: 36px;
}
.dashboard a {
  color: #000c;
  text-decoration: none;
}

.dashboard a:hover {
  color: #000c;
  text-decoration: none;
}
.progress {
    height: 5px;
}
.btn2 {
  font-size: 13px;
}
.progress-bar {
  background-color: #1aa72e;
}
  .sidepanel  {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../img/sidepanel_bg.png);
    background-repeat: repeat;
    /* background-color: #ffb400; */
    background-color: #ffe13e;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
    scrollbar-color: #7c4e01 #B8BDC4;
    scrollbar-track-color: #7c4e01;
    scrollbar-width: thin; 
  }
.fees-section{}

.fees-section .table th {
  padding: 0.88rem .75rem;
}
.notice-board{
  min-height: 467px;
}
  
 .sidepanel::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px #6d4400(189, 99, 2, 0.3);    
    border-radius: 10px;
    background-color: #B8BDC4;
  }
  
  .sidepanel::-webkit-scrollbar
  {
    width: 8px;
    background-color: #B8BDC4;
  }
  
.sidepanel::-webkit-scrollbar-thumb
  {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px #6d4400(189, 99, 2, 0.3);
    background-color: #6d4400;
  }

  /*
   *  STYLE 2
   */

  body::-webkit-scrollbar{
    width: 8px;
    background-color: #B8BDC4;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #6d4400(189, 99, 2, 0.3);    
    border-radius: 10px;
    background-color: #B8BDC4;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px #6d4400(189, 99, 2, 0.3);
    background-color: #6d4400;
  }


  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    /* color: #483506; */
    color: #221902;
    display: block;
    transition: 0.3s;
    /* border-bottom:#fff6ac52 1px solid; */
    border-bottom: #fff174 1px solid;
  }
  
.dropdown-item:focus, .dropdown-item:hover {
  color: #110c33;
  text-decoration: none;
  background-color: #ffbf00 !important;
  border-bottom: #ffbf00 1px solid;
}

.dropdown-item.active, .dropdown-item:active {
  color: #110c33;
  text-decoration: none;
  background-color: #ffb400 !important;
  border-bottom: #ffb400  1px solid !important;
}

.left-logo {
  position: absolute;
  top: 14px;
  right: 70px;
  border-bottom: 0px;
  width: 180px;
}
.left-logo img {
  width: 100%;
}


  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background: none;
  }
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(111, 103, 103, 0.59) !important;
}
.rounded {
  border-radius: 9px !important;
}
.lectures{ background: #ffa72a;}
.exams{ background: #a9eb54;}
.grades{ background: #f1ef48;}
.live-classes{ background: #6aedf2;}
.group-discussions{ background: #ff7979;}
.momeworks{ background: #ffe13e;}
.announcements{ background: #f773ff;}
.attendance{ background: #ff5e5e;}
.teachers{ background: #6dc3ff;}
.groups-activity{ background: #ca66fe;}
.timetable{ background: #aae46b;}
.holiday-calender{ background: #ecd35e;}
.fees{ background: #3ac790;}
.profile{ background: #ef4b79;}


.similar-carousel .video-img{ overflow: hidden; height: 130px;}
.similar-carousel2 .ppt-img{ overflow: hidden; height: 130px;}
.similar-carousel .video-img img {
  display: block;
  width: 100%;
  background-size: cover;
  height: 130px;
}
.pdf-section .weather-carousel .pdf-img{ overflow: hidden; height: 130px; margin: 0px auto;  width: 100px;}
.pdf-section .owl-carousel .owl-item img {
  display: block;
  width: auto !important;
  background-size: cover;
  height: 130px;
}

.similar-carousel2 .ppt-img img {
  display: block;
  width: 100%;
  background-size: cover;
  height: 130px;
}
.similar-carousel {}
.similar-carousel .owl-prev {
  position: absolute;
  top: 52px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  color: #595ca9;
  line-height: 24px;
  left: -34px;
}
.similar-carousel .owl-next {
  position: absolute;
  top: 52px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  color: #595ca9;
  line-height: 24px;
  right:-34px;
 }


 
.exam-section{}
.exam-section .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}
.exam-section .fade {
  opacity: 1;
  transition: opacity .15s linear;
}
.exam-section .nav-tabs > li {
  float: left;
  margin-right: 18px;
  width: 236px;
  text-align: center;
}
.exam-section .nav > li > a {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 15px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 22px;
  box-shadow: 0 .125rem .25rem rgba(111, 103, 103, 0.59) !important;
}
.exam-section .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #000;
  cursor: default;
  background-color: #ffd338;
  border: 1px solid #ffd338;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-color: transparent;
}
.upcoming-exam{
  min-height: 240px;
}
.upcoming-exam .btn a {
  color: #000c !important;
  text-decoration: none !important;
}
.upcoming-exam .btn a:hover {
  color: #000c;
  text-decoration: none !important;
}
.circle-box{ 
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}
.bg-danger {
  background-color: #ff2525 !important;
}
.answer_box{ min-height: 300px;}
.btn-danger {
  color: #fff;
  background-color: #ff4141;
  border-color: #ff4141;
}
.badge-top{     
  position: absolute;
  right: 21px;
  top: 6px;
  background: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
  font-size: 13px;
}
.group-discussions{}

.group-discussions .btn {
  padding: 11px 37px !important;
  line-height: 1px !important;
  height: 38px;
}
.overflow-hidden{ overflow: hidden;}
.student-programme_img{ width: 64%; margin: 0px auto;}
.student-programme_img img{ width: 100%;}
.clock_img{ width: 22px;}
.clock_img img{ width: 100%;}
.profile-user{ width: 40px; height: 40px; border: #000 1px solid; border-radius: 50%; overflow: hidden;}
.profile-user img{ width: 40px; height: 40px;}

.prouser{ width: 100px; height: 100px; border: #000 1px solid; border-radius: 50%; overflow: hidden;}
.prouser img{ width: 100px; height: 100px;}
.w-auto{ width: auto;}
.table td, .table th {
  padding: .45rem .75rem;
}
.table .thead-dark th {
  color: #fff;
  background-color: #3268ff;
  border-color: #3268ff;
}
.table .thead-dark2 th {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info {
  color: #fff;
  background-color: #3d419c;
  border-color: #3d419c;
}
.btn-info:hover {
  color: #fff;
  background-color: #3d419c;
  border-color: #3d419c;
}
.bg-dark {
  background-color: #171717 !important;
}
.align-middle {
  vertical-align: middle !important;
}
.teacher_comment{

}
.teacher_comment .modal-header{
  background: #efefef;
}
.teacher_comment .modal-dialog {
  max-width: 739px;
}
.teacher_comment .modal-footer {
  background: #efefef;
}

.teacher_comment .modal-body{
  background: #efefef;
}
.teacher_comment .close:not(:disabled):not(.disabled) {
  color: #fff;
  opacity: 1;
  background: #ff0606;
  padding: 3px 5px 6px 5px !important;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 3px !important;
  margin-top: -5px;
  margin-right: -6px;
}
.live_classimg{}
.live_classimg img{
  width: 100%;
}
.live-classes3{   
  right: 37px;
  top: 8px;
  position: absolute;
 }
.live-classes2 {
  right: 37%;
  top: 39%;
  position: absolute;
}
.text-dark {
  color: #171717 !important;
}
.live-classes2 .fa {
  border: #000 1px solid;
  border-radius: 50%;
  padding: 10px 9px;
  margin: 2px;
}
.btn-warning2 {
  color: #ffffff;
  background-color: #fde81c;
  border-color: #fde81c;
}
.timetable_section{
  }

.timetable_section .table td, .timetable_section .table th {
    padding: 1.75rem 1.75rem !important;
    }
.timetable_section2 .timetable_table-bg{
  background: #a5cdff;
  }

  .timetable_section2{
  }

  .timetable_section2 #table-wrapper {
    width: 100%;
    float: left;
    overflow-x: scroll;
    background: #ddd;
  }
  
  .timetable_section2 table {
    background: #f4f4f9;
    width: 1200px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .timetable_section2 table tr td {
    padding: 17px;
    height: 83px;
  }
  
  .timetable_section2 table thead tr th {
    width: 15em;
    padding: 26px;
  }

  
  .timetable_section2 table thead tr th:first-child,
  .timetable_section2 table tbody tr td:first-child {
    background: #f4f4f9;
    top: auto;
    left: 0.5;
    position: fixed;
    width: 11em;
  }
  
  .timetable_section2 table thead tr th:nth-child(2),
  .timetable_section2 table tbody tr td:nth-child(2) {
    padding-left: 14em;
    padding-right: 64px;
    /*to show second column behind the first*/
  }
  
.school_logo{
  margin-left: 305px;
  width: 189px;
}
.school_logo img{
  width: 100%;

}







 .calendar-section .datepicker {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}
.calendar-section .datepicker-inline {
  width: 220px;
}
.calendar-section .datepicker.datepicker-rtl {
  direction: rtl;
}
.calendar-section .datepicker.datepicker-rtl table tr td span {
  float: right;
}
.calendar-section .datepicker-dropdown {
  top: 0;
  left: 0;
}
.calendar-section .datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.calendar-section .datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}
.calendar-section .datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-top:before {
  top: -7px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-top:after {
  top: -6px;
}
.calendar-section .datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.calendar-section .datepicker-dropdown.datepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.calendar-section .datepicker > div {
  display: none;
}
.calendar-section .datepicker.days div.datepicker-days {
  display: block;
}
.calendar-section .datepicker.months div.datepicker-months {
  display: block;
}
.calendar-section .datepicker.years div.datepicker-years {
  display: block;
}
.calendar-section .datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calendar-section .datepicker td,
.datepicker th {
  text-align: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 50%;
  border-radius: 4px;
  border: none;

  font-size: 13px;
  font-weight: 700;
}
.calendar-section .table-striped .datepicker table tr td,
.calendar-section .table-striped .datepicker table tr th {
  background-color: transparent;
}
.calendar-section .datepicker table tr td.day:hover,
.calendar-section .datepicker table tr td.day.focused {
  background: #eeeeee;
  cursor: pointer;
}
.calendar-section .datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #ff8b25;
  color: #fff !important;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #ff8c00;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.datepicker table tr td.today:hover:hover {
  color: #000;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #ff8c00;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #ff8c00;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #ff8c00;

  color: #fff !important;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table tr td span:hover {
  background: #eeeeee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #ff8c00;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: ##ff8c00;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999999;
}
.datepicker th.datepicker-switch {
  width: 145px;
}
.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
  cursor: pointer;

  color: #ff8c00;
}
.datepicker thead tr:first-child th:hover,
.calendar-section .datepicker tfoot tr th:hover {
  background: #eeeeee;
}
.calendar-section .datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.calendar-section .datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent;
}
.calendar-section .input-append.date .add-on i,
.input-prepend.date .add-on i {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.calendar-section .input-daterange input {
  text-align: center;
}
.calendar-section .input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.calendar-section .input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.calendar-section .input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 20px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}
.calendar-section .datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}
.calendar-section .datepicker.dropdown-menu th,
.calendar-section .datepicker.datepicker-inline th,
.calendar-section .datepicker.dropdown-menu td,
.calendar-section .datepicker.datepicker-inline td {
  padding: 4px 5px;
}

.calendar-section .datepicker .dow {
  border-bottom: 1px solid #05c9dd;
  color: #fff;
  font-size: 13px;
  background-color: #05c9dd;
  border-radius: 0px;
}

.calendar-section .datepicker-months .prev,
.datapicker-months .next,
.calendar-section .datepicker-years .prev,
.calendar-section .datepicker-years .next {
  width: 58px;
}

.calendar-section .datepicker-days tbody td:nth-child(6),
.calendar-section .datepicker-days tbody td:nth-child(7) {
  color: #D44;
}

@import url("normalize.css");
@import url("datepicker.css");

body {background: #eeeae9;}

/* app */
.calendar-section .charset {
	box-shadow: 1px 1px 10px #000;
}

.calendar-section .app {
	width: 100%; height: auto;
	margin: 0px;
}
.calendar-section .app:after {
	content: "";
	display: table;
	clear: both;
}
.calendar-section .app__side {
		background: #333;
		width: 35%; height: 100%;
		padding: 40px;
		float: left;

		color: #ff8c00;
	}
  .calendar-section .app__main {
    background: #fff;
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;

	}



/* b-calendar */
.calendar-section .calendar {
	padding: 0px;
}
.calendar-section .calendar .datepicker {
		width: 100%;
	}
.calendar-section .calendar .datepicker table {
			width: 100%;
		}







    