<!-- General -->
<div class="row mt-2">
   
    <div class="col-sm-12 col-xs-12">
        <div class="card card-primary card-outline p-3">
            <form role="form" [formGroup]="userForm">
                <div class="row">
                    <div class="col-sm-12 mt-0 mb-3">
                        <h5 class="font-weight-bold border-bottom pb-2">Personal Details</h5>
                    </div>
                </div>
                <div class="row">

      
                    <div class="col-sm-6 mt-0">
                        <div class="form-group">
                            <label>Address 1</label>
                            <input type="text" class="form-control" formControlName="address1"
                            placeholder="Enter Address 1"
                            [(ngModel)]="profileObj.address1"
                            [ngClass]="applyCss(userForm,'address1')">
                        </div>
                        <span class="text-danger" *ngIf="validField(userForm,'address1')">Address 1 is required.</span>
                    </div>

                    <div class="col-sm-6 mt-0">
                        <div class="form-group">
                            <label>Address 2</label>
                            <input type="text" class="form-control" formControlName="address2"
                            name="address2" placeholder="Enter Address 2"
                            [(ngModel)]="profileObj.address2"
                            [ngClass]="applyCss(userForm,'address2')"
                            >
                            <span class="text-danger" *ngIf="validField(userForm,'address2')">Address 2 is required.</span>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-0">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" formControlName="phone"
                            name="phone" placeholder="Enter Phone"
                            [(ngModel)]="profileObj.phone"
                            [ngClass]="applyCss(userForm,'phone')"
                                >
                            <div>
                                <span class="text-danger" *ngIf="userForm.get('phone').errors?.['required']">Enter phone number.</span>
                                <span class="text-danger" *ngIf="userForm.get('phone').errors?.['minlength']">Minimum length should be 10 digits.</span>
                                <span class="text-danger" *ngIf="userForm.get('phone').errors?.['maxlength']">Maximum length should 10 digits.</span>
                            </div>
                        </div>
                    </div>

                  
                </div>
              
                <div class="row">
                
                    <div class="col-sm-12 d-flex justify-content-center mt-3 mb-2">
                        <button type="button" (click)="btnBack_click()"

                            class="btn btn-warning rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Back</button>
                        <button type="button" (click)="submitStudent_click()"
                            class="btn btn-success rounded-pill pl-5 pr-5 mr-2 mb-1 font-weight-bold">Submit</button>
                        
                    </div>
                   
                </div>
            </form>
        </div>
    </div>



</div>
<!-- /.General -->