<div class="container timetable_section pt-5">
  <div class="row mt-0 exam-section">
    <div class="col-sm-12 col-xs-12 animate__animated animate__bounceInDown">
      <ul class="breadcrumb">
        <li><a>Dashboard</a></li>
        <li><a [routerLink]="['/announcements']">Announcement</a></li>
        <li>Details</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
      <div class="row">
        <div class="col-sm-12 col-xs-12 mb-4">
          <ng-container *ngIf="data">
            <div class="bg-white shadow-sm rounded p-5">
              <div class="row text-center">
                <div class="col-sm-12 col-xs-12">
                  <h4 class="mb-2">
                    <span class="font-weight-bold"> {{ data.title }} </span>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <h6 class="mb-2">
                    <span class="font-weight-bold">Class </span> - {{data.scl_class}}
                    <div class="float-right">
                      <span class="font-weight-bold">Date </span> -
                      {{ data.date | date: 'dd/MM/Y'}}
                    </div>
                  </h6>
                  <h6 class="mb-2">
                    <span class="font-weight-bold">Section</span> - {{data.cls_section}}
                  </h6>
                  <h6 class="mb-2">
                    <span class="font-weight-bold">Student</span> - {{data.school_user}}
                  </h6>
                  <div class="clearfix w-100 mb-4"></div>
                  <h6 class="mb-2">
                    <span class="font-weight-bold">Announcement</span> -
                    {{ data.description }}
                  </h6>
                  <div class="clearfix w-100 mb-4"></div>
                  <h6 class="mb-2">
                    <span class="font-weight-bold pb-3">Files Uploaded -</span>
                  </h6>
                  <br /><br />
                  <div class="row text-center">
                    <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="data.is_image1">
                      <img src="{{ data.image1 }}" class="img-thumbnail" />
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="data.is_image2">
                      <img [src]="data.image2" class="img-thumbnail" />
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="data.is_image3">
                      <img src="{{ data.image3 }}" class="img-thumbnail" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
