<div class="container pt-5">
  <div class="row mt-0 homeworks-page">
    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>Homework</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go Back</strong>
      </ul>
      <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item"  >
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'CREATE' }"
            (click)="changeSelectedTab('CREATE')"
            >Create Homework</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pointer"
            [ngClass]="{ active: selectedTab == 'HISTORY' }"
            (click)="changeSelectedTab('HISTORY')"
            >Submitted Homework</a
          >
        </li> 
      </ul>
      <div class="tab-content">
        <ng-template [ngIf]="selectedTab == 'CREATE'">
          <form [formGroup]="homeworkForm">

            <div class="row pt-1 mt-0">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="scl_class"
                    (change)="classChange($event)"
                  >
                    <option disabled value="SELECT">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClass"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section"
                  >
                    <option disabled value="SELECT">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSection"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="subject"
                  >
                    <option disabled value="SELECT">Select Subject</option>
                    <option
                      value="{{ subject.subject }}"
                      *ngFor="let subject of allSubjects"
                    >
                      {{ subject.subject_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <button
                  type="button"
                  class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <a
                    (click)="teacher_homework_view_list(null, true)"
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                  </a>
                </button>
                <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                  <a
                    (click)="teacher_homework_view_list()"
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a>
                </button>
              </div>
            </div>
          </form>

          <div class="row">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-left">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">Start Date</th>
                        <th class="pl-4">End Date</th>
                        <th class="pl-4">Question Type</th>
                        <th class="pl-4">Title</th>
                        <th class="pl-4">Subject</th>                      
                        <th class="text-center">Status</th>
                        <th class="text-center" colspan="2">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngFor="let rows of data  | paginate: {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: totalItems
                        }; let index = index"
                      >
                        <tr>
                          <td class="align-middle pl-4">
                            {{ rows.start_date | date:'dd/MM/y'}}
                          </td>
                          <td class="align-middle">{{ rows.end_date | date:'dd/MM/y'}}</td>
                          <td class="align-middle text-center">
                            {{ rows.question_type }}
                          </td>
                          <td class="text-center">{{ rows.title }}</td>
                          <td class="text-center">{{ rows.subject_name }}</td>
                          <td class="text-center">
                            <ng-container *ngIf="rows.is_active">
                              <label class="switch">
                                <input type="checkbox" checked />
                                <span
                                  (click)="
                                    changeStatusQuestion(rows.id, index, 0)
                                  "
                                  class="slider slider2 round"
                                ></span>
                              </label>
                            </ng-container>
                            <ng-container *ngIf="!rows.is_active">
                              <label class="switch">
                                <input type="checkbox" />
                                <span
                                  (click)="
                                    changeStatusQuestion(rows.id, index, 1)
                                  "
                                  class="slider round"
                                ></span>
                              </label>
                            </ng-container>
                          </td>

                          <td class="align-middle text-center pointer" >
                            <span  *ngIf="rows.is_finalized === false" (click)="teacher_homework_view_list(rows.id)"><i *ngIf="rows.question_type === 'online'" class="fa fa-plus-circle"></i></span>
                          </td>
                          <td class="align-middle text-center pointer" *ngIf="rows.question_type === 'online'" >
                            <span (click)="openModel2(rows.id)"><i class="fas fa-eye"></i
                            ></span>
                          </td>
                          <td class="align-middle text-center pointer" *ngIf="rows.question_type === 'attachment'" >
                            <span (click)="openModel(rows.id)"
                              ><i class="fas fa-eye"></i
                            ></span>
                          </td>
                          <!-- <td class="align-middle text-center pointer" *ngIf="rows.question_type === 'attachment'" >
                            <span></span>
                          </td> -->
                        </tr>
                      </ng-container>
                     
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- SUBMITTED DIV -->
        <ng-template [ngIf]="selectedTab == 'HISTORY'">
          <form [formGroup]="submittedForm">
            <div class="row pt-1 mt-0">
              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="scl_class"
                    (change)="classChange2($event)"
                  >
                    <option disabled value="">Select Class</option>
                    <option
                      value="{{ class.id }}"
                      *ngFor="let class of allClasssub"
                    >
                      {{ class.class_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="cls_section"
                  >
                    <option disabled value="">Select Section</option>
                    <option
                      value="{{ section.id }}"
                      *ngFor="let section of allSectionsub"
                    >
                      Section - {{ section.section_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <div class="form-group">
                  <select
                    class="form-control rounded-pill shadow-sm"
                    formControlName="subject"
                  >
                    <option disabled value="">Select Subject</option>
                    <option
                      value="{{ subjectsub.subject }}"
                      *ngFor="let subjectsub of allSubjectssub"
                    >
                      {{ subjectsub.subject_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12 mb-2">
                <button
                  type="button"
                  class="btn btn-warning2 shadow-sm rounded-pill pl-4 pr-4 text-decoration-none"
                >
                  <a
                    (click)="teacher_submitted_homework_view_list()"
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Search
                  </a>
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-danger shadow-sm rounded-pill pl-4 pr-4 ml-1 text-decoration-none"
                >
                   <a
                    (click)="teacher_homework_view_list()"
                    class="text-decoration-none text-dark"
                    ><i class="fa fa-search mr-2" aria-hidden="true"></i> Reset
                  </a> 
                </button> -->
              </div>
            </div>
          </form>
          <div class="row">
            <div
              class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp"
            >
              <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                <div class="table-responsive">
                  <table class="table text-nowrap table-striped text-left">
                    <thead class="bg-dark rounded text-white">
                      <tr>
                        <th class="pl-4">Student Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th>Roll No.</th>
                        <th>Date</th>
                        <th class="text-center">View</th>
                        <th class="text-center">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subh of submittedhomework; let i = index">
                        <td class="align-middle pl-4">{{subh.student_details[0].student_fname}} {{subh.student_details[0].student_lname}}</td>
                        <td class="align-middle">{{subh.class}}</td>
                        <td class="align-middle">{{subh.class_section}}</td>
                        <td class="align-middle">{{subh.subject}}</td>
                        <td class="align-middle">{{subh.roll_no}}</td>
                        <td class="align-middle">{{subh.ans_date | date: 'dd/MM/y'}}</td>
                        <td class="text-center">
                          <ng-template [ngIf]="subh.question_type_name == 'Online'"> <span class="pointer" (click)="goToSubmittedHomeworkDetails(subh.status,subh.id,subh.homework,subh.student,subh.student_details[0].student_fname,subh.student_details[0].student_lname,subh.subject,subh.class,subh.class_section)"
                            ><i class="fas fa-eye"></i
                          ></span>
                          </ng-template>
                          
                        </td>
                        <td class="text-center">
                          <ng-template [ngIf]="subh.question_type_name == 'Attachment'"> <a href="{{subh.attachment_ans}}" terget="_blank"><span
                            ><i class="fas fa-download"></i
                          ></span></a>
                          </ng-template>
                          <ng-template [ngIf]="subh.question_type_name == 'Attachment' && subh.status == '1'"><a (click)="attachmen_modal(subh.id,subh.student)" terget="_blank"><span
                            ><i class="fas fa-upload"></i
                          ></span></a></ng-template>
                          <ng-template [ngIf]="subh.question_type_name == 'Attachment' && subh.status == '2'"><a href="{{subh.correct_attachment_ans}}" terget="_blank">Homework Review</a></ng-template>
                         
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #editModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Homework Details :</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
   <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
      
        <div class="table-responsive">
          <table class="table text-center table-bordered">
            <thead class="bg-dark rounded text-white">
              <tr>
                <th class="pl-4">Start Date</th>
                <th class="pl-4">End Date</th>
                <th class="pl-4">Title</th>
                <th class="pl-4">Subject</th>
              </tr>
            </thead>
            <tbody>            
                <tr *ngFor="let val of modalValue">
                  <td>{{val.start_date | date:'dd/MM/y'}}</td>
                  <td>{{val.end_date | date:'dd/MM/y'}}</td>
                  <td>{{val.title}}</td>
                  <td >{{val.subject_name}}</td>               
                </tr>

            </tbody>
          </table>
        </div>  
        <div class="d-flex justify-content-center">
         <div class="col-sm-7 text-center" width="100%" *ngFor="let val of modalValue"><img src="{{val.attachemnt_file}}" alt="No image found" (click)="editModal_Image_Click(val.attachemnt_file)"></div>
        </div>
        
      </div>
      
    </div>
    </div>
  </div> 
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
  
  </ng-template>


  <ng-template #imageModal let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Image preview:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
     <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
        
          <div class="d-flex justify-content-center" *ngIf="!ispdfSrc">
            <div class="col-sm-7 text-center" *ngFor="let val of modalValue">
             <img src="{{val.attachemnt_file}}" height="100%" width="100%" alt="No image found">
            </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="ispdfSrc">
            <div class="col-sm-7 text-center" *ngFor="let val of modalValue">
              <pdf-viewer [src]="val.attachemnt_file"
              [render-text]="true"
              [original-size]="false"
              ></pdf-viewer>
            </div>
          </div>
         
        </div>
        
      </div>
    </div>
    </div> 
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
    
    </ng-template>


  <ng-template #saveModal let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Question Details :</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
     <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
        
  
  
  
          <div class="table-responsive">
            <table class="table text-center table-bordered">
              <thead class="bg-dark rounded text-white">
                <tr>
                  <th class="pl-4">Question</th>
                  <th class="pl-4">Question Type</th>
                </tr>
              </thead>
              <tbody>
               
                  <tr *ngFor="let val of modalData">
                    <td>{{val.question}}</td>
                    <td>{{val.question_type_name}}</td>
                  </tr>
  
              </tbody>
            </table>
          </div>
  
    
          <div class="d-flex justify-content-center">
           <div class="col-sm-7 text-center" width="100%"  *ngFor="let val of modalValue"><img src="http://3.17.248.213:8002/uploads/media/{{val.attachment_link}}" ></div>
          </div>
        </div>
        
      </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
    
    </ng-template>
    <ng-template #answerModal let-modal>

      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Upload Homework Review :</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="form-group">
        <form [formGroup]="areviewForm">

        <div class="row">
          <div class="col-sm-6 col-xs-12 mb-2">
              <div class="form-group">
                  <label>Upload Review</label>
                  <div class="custom-file">
                      <input type="file" id="customFile"  (change)="selectFile($event)" class="custom-file-input">
                      <label for="customFile" class="custom-file-label">{{filen}}</label>
                      <input type="hidden" formControlName="attachment_link" />
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-xs-12 mb-2">
              <button type="button" (click)="attach_submit()" class="btn btn-success shadow-sm rounded-pill mb-3 pl-4 pr-4 mr-2">Publish</button>
          </div>
        </div>
        </form>
        </div>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
      </div>
      
      </ng-template>