<div class="row pt-2 mt-3">
  <div class="col-sm-4 col-xs-12">
    <h1 class="mb-0 pb-0 mt-2" id="temperature">
      
      <!--<i class="fa" aria-hidden="true"
        ><img src="../../../../assets/img/222-icon.png" title="" alt=""
      /></i>-->
    </h1>
    <h4 id="fday"></h4>
  </div>

  <!-- <div class="col-sm-4 col-xs-12">
    <div class="p-3 mb-2 bg-white shadow-sm bg-white rounded overflow-hidden">
      <h5 class="mb-0 pb-2 font-weight-normal">Teacher Work and Progress</h5>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 80%"
        ></div>
      </div>
      <div
        class="text-right"
        role="progressbar"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 80%"
      >
        80%
      </div>
    </div>
  </div> -->

  <!-- <div class="col-sm-4 col-xs-12">
    <div class="p-3 mb-2 bg-white shadow-sm bg-white rounded overflow-hidden">
      <h5 class="mb-0 pb-2 font-weight-normal">Teacher Work and Progress</h5>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 60%"
        ></div>
      </div>
      <div
        class="text-right"
        role="progressbar"
        aria-valuenow="60"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 60%"
      >
        60%
      </div>
    </div>
  </div> -->
</div>
<!-- Start Dashboard Slide Section -->
<div class="row pt-1 mt-0">
  <div class="col-sm-12 col-xs-12 animate__animated animate__backInRight">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let cards of carouselElements">
        <ng-template carouselSlide>
          <div class="item pb-2">
            <a [routerLink]="cards.link" class="text-decoration-none">
              <div
                class="{{
                  cards.class
                }} shadow-sm rounded pt-4 pb-4 d-flex justify-content-center hvr-pulse-shrink"
              >
                <i class="fa" aria-hidden="true"
                  ><img
                    src="../../../../assets/img/{{ cards.image }}"
                    title=""
                    alt=""
                /></i>
                <h5 class="pt-2 pl-2">{{ cards.title }}</h5>
                <ng-container *ngIf="cards.badge">
                  <span class="badge-top">{{ cards.count }}</span>
                </ng-container>
              </div>
            </a>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<!-- End Dashboard Slide Section -->

<div class="row pt-1 mt-2">
  <div class="col-sm-8 col-xs-12 mt-2 animate__animated animate__slideInLeft">
    <div
      class="
        pb-4
        mb-2
        notice-board
        bg-white
        shadow-sm
        bg-white
        rounded
        overflow-hidden
        animate__animated animate__slideInRight
      "
    >
      <div
        class="
          bg-dark
          pt-3
          pb-2
          mb-3
          mt-1
          ml-1
          mr-1
          text-white
          rounded
          text-center
        "
      >
        <h6 class="font-weight-bold">NOTICE</h6>
      </div>

      <!-- Codes by HTMLcodes.ws -->
      <marquee
        id="test"
        behavior="scroll"
        direction="up"
        height="360"
        scrolldelay="100"
        scrollamount="2"
        onMouseOver="document.all.test.stop()"
        onMouseOut="document.all.test.start()"
      >
        <div class="p-3">
          <ng-container *ngIf="data">
            <ng-container *ngFor="let item of data.announcement_list">
              <p>
                

                <ng-container *ngIf="item.is_active == false">
                  <a href="#"
                  ><small class="d-block mb-3 text-grey"
                    >{{ item.title }}
                    <span class="text-grey">({{ item.date }})</span></small
                  ></a
                >
                </ng-container>
                <ng-container *ngIf="item.is_active == true">
                  <a href="#"
                  ><small class="d-block mb-3"
                    >{{ item.title }}
                    <span class="text-danger">({{ item.date }})</span></small
                  ></a
                >
                </ng-container>
              </p>
            </ng-container>
          </ng-container>
        </div>
      </marquee>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <h4>Events - 2021 to 2022</h4>
    <div class="row mb-4">
      <div class="col-sm-12 col-xs-12">
        <div
          class="
            pb-4
            mb-2
            bg-white
            shadow-sm
            bg-white
            rounded
            overflow-hidden
            animate__animated animate__slideInRight
            calendar-section
          "
        >
          <div class="app">
            <div class="app__main">
              <div class="calendar">
                <div id="calendar">
                  <app-calendar></app-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12">
        <div
          class="
            p-4
            mb-2
            bg-white
            shadow-sm
            bg-white
            rounded
            overflow-hidden
            animate__animated animate__slideInRight
          "
        >
          <div class="d-flex justify-content-between mb-2">
            <small
              >Set 10 :
              <span class="text-danger"> School Annual Function</span></small
            >
            <a href="upcoming-examdetails.html">
              <button
                type="submit"
                class="
                  btn
                  btn2
                  bg-danger
                  rounded-pill
                  mt-0
                  pt-0
                  pb-1
                  pl-3
                  pr-3
                  text-decoration-none text-white
                "
              >
                <small>View</small>
              </button></a
            >
          </div>
          <div class="d-flex justify-content-between mb-2">
            <small
              >Set 15 :
              <span class="text-danger"> School Annual Function</span></small
            >
            <a href="upcoming-examdetails.html">
              <button
                type="submit"
                class="
                  btn
                  btn2
                  bg-danger
                  rounded-pill
                  mt-0
                  pt-0
                  pb-1
                  pl-3
                  pr-3
                  text-decoration-none text-white
                "
              >
                <small>View</small>
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
