<div class="container timetable_section pt-5">

    <div class="row pt-5 mt-0 exam-section">

      <div class="col-sm-12 col-xs-12 animate__animated animate__bounceInDown">
        <ul _ngcontent-qpl-c49="" class="breadcrumb"><li _ngcontent-qpl-c49=""><a _ngcontent-qpl-c49="" href="#">Dashboard</a></li><li _ngcontent-qpl-c49="">Time Table</li><i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i
          ><strong (click)="goBack()" class="pointer">Go Back</strong></ul>
        <div class="row pt-2 mt-2 mb-3"> 

          <div class="col-sm-12 col-xs-12 timetable_section2">
            <div class="bg-white shadow-sm rounded overflow-hidden">
            <div id="table-wrapper">
              <table border="1" class="text-nowrap">
                <thead>
                  <tr>
                    <th class="border-top-0 border-left-0" style="padding: 3.4%;width: 154px;">Day&nbsp;</th>
                    <th *ngFor="let time of timeslot">{{time.period_name}}<br />
                    {{time.start_time | stringdate}} To {{time.end_time | stringdate}}</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Monday</p></td>
                    <td class="border-top-0 border-left-0 align-middle " *ngFor="let msd of monday; let i = index" [ngClass]="{'timetable_table-bg' : i%2 == 0}"><p class="p-0 m-0" *ngIf="msd.class_name!=''">Class {{msd.class_name}}- {{msd.section}}<br > {{msd.subject}}</p></td>
                  </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Tuesday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let tsd of tuesday; let j = index" [ngClass]="{'timetable_table-bg' : j%2 != 0}"><p class="p-0 m-0" *ngIf="tsd.class_name!=''">Class {{tsd.class_name}}- {{tsd.section}}<br > {{tsd.subject}}</p></td>
                  </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Wednessday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let wsd of wednesday; let k = index" [ngClass]="{'timetable_table-bg' : k%2 == 0}"><p class="p-0 m-0" *ngIf="wsd.class_name!=''">Class {{wsd.class_name}}- {{wsd.section}}<br > {{wsd.subject}}</p></td>
                     </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Thursday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let thsd of thursday; let l = index" [ngClass]="{'timetable_table-bg' : l%2 != 0}"><p class="p-0 m-0" *ngIf="thsd.class_name!=''" [ngClass]="{'timetable_table-bg' : l%2 != 0}">Class {{thsd.class_name}}- {{thsd.section}}<br > {{thsd.subject}}</p></td>
                  </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Friday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let fsd of friday; let m = index" [ngClass]="{'timetable_table-bg' : m%2 == 0}"><p class="p-0 m-0" *ngIf="fsd.class_name!=''">Class {{fsd.class_name}}- {{fsd.section}}<br > {{fsd.subject}}</p></td>
                     </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Saturday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let sasd of saturday; let n = index" [ngClass]="{'timetable_table-bg' : n%2 != 0}"><p class="p-0 m-0" *ngIf="sasd.class_name!=''">Class {{sasd.class_name}}- {{sasd.section}}<br > {{sasd.subject}}</p></td>
                  </tr>
                  <tr>
                    <td class="border-top-0 border-left-0 align-middle"><p class="mt-4">Sunday</p></td>
                    <td class="border-top-0 border-left-0 align-middle" *ngFor="let susd of sunday; let o = index" [ngClass]="{'timetable_table-bg' : o%2 == 0}"><p class="p-0 m-0" *ngIf="susd.class_name!=''">Class {{susd.class_name}}- {{susd.section}}<br > {{susd.subject}}</p></td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>  

    
        </div>
    
      </div>

    </div>



</div>