bg-white shadow-sm rounded overflow-hidden

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 9px !important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(111, 103, 103, 0.59) !important;
}
.bg-white {
    background-color: #fff !important;
  }
.timetable_section2 #table-wrapper {
    width: 100%;
    float: left;
    overflow-x: scroll;
    background: #ddd;
  }
  .timetable_section2 .timetable_table-bg {
    background: #a5cdff;
  }