<div class="container pt-5">
    <div class="row pt-5 mt-0 exam-section">
  
      <div class="col-sm-12 col-xs-12">
       
  
      <div class="col-sm-12 col-xs-12 animate__animated animate__backInDown">
        <div class="row">
          <div class="col-sm-12 col-xs-12 mb-4">
            <ul class="breadcrumb">
              <li><a href="#/dashboard">Dashboard</a></li>
              <li>Student Details</li>
            
              <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
                class="pointer">Go Back</strong>
            </ul>
            <div class="bg-white shadow-sm rounded pb-5 mb-3">
              <h5 class="pb-2 pl-3 text-white pt-2 rounded-top">Personal Information</h5>
              <div class="p-4">
              <div class="row">              
                <div class="col-sm-2 col-xs-12">
                  <div class="prouser mr-2 mx-auto d-block"><img src={{ProfileData.image}} onerror="this.src='assets/img/user-img.jpg'" class="img-responsive" title=""></div>
                </div>
                <div class="col-sm-10 col-xs-12">
                  <h6 class="mb-2"><span class="font-weight-bold">Name : </span> - {{ProfileData.student_fname}} {{ProfileData.student_lname}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Class : </span> - {{ProfileData.class_name}} - {{ProfileData.section}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Gender : </span> - {{ProfileData.gender}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Date of Birth : </span> - {{ProfileData.dob | date:'dd/MM/y'}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Father’s Name : </span> - {{ProfileData.father_name}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Mother’s Name : </span> - {{ProfileData.mother_name}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Email Id : </span> - {{ProfileData.parent_email}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Contact Info : </span> - {{ProfileData.father_phone}}/{{ProfileData.mother_phone}}</h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Address : </span> - {{ProfileData.address1}} </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Pincode : </span> - {{ProfileData.pin_code}} </h6>
                </div>
              </div>
              </div>
            </div>
            <div class="bg-white shadow-sm rounded pb-5 mb-3">
              <h5 class="pb-2 pl-3 text-white pt-2 rounded-top">Academic Information</h5>
              <div class="p-4">
              <div class="row">
            
                <div class="col-sm-10 col-xs-12">
                  <div class="clearfix w-100 mb-4">
                    <h6 class="mb-2"><span class="font-weight-bold">School Name : </span> - {{ProfileData.school[0]?.school_name}} </h6>
                    <h6 class="mb-2"><span class="font-weight-bold">Class Teacher : </span> - {{ProfileData.class_teacher}}
                    </h6>
                    <h6 class="mb-2"><span class="font-weight-bold">Date of joining in School : </span> - {{ProfileData.doj | date:'dd/MM/y'}}
                    </h6><br>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <div class="p-3 mb-2 bg-white shadow-sm bg-white rounded overflow-hidden">
                            <h6 class="mb-0 pb-2 font-weight-normal">Attendance of this month</h6>
                              <div class="progress">
                                <!-- <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                  style="width:70%"> </div>-->
                                
                                  <!-- <mat-progress-bar mode="determinate" value="{{progressBarValue}}"></mat-progress-bar> -->
                        
                                </div>
                    
                              <div class="text-right" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width:70%">
                                {{ProfileData.attendence}} %
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                          <div class="p-3 mb-2 bg-white shadow-sm bg-white rounded overflow-hidden">
                            <h6 class="mb-0 pb-2 font-weight-normal">Student Over all Performence</h6>
                            <h4 class="mb-0 pb-0">
                              <!-- <i class="fa" aria-hidden="true"><img src="assets/img/star-icon-2.png" title="" alt=""></i>
                              <i class="fa" aria-hidden="true"><img src="assets/img/star-icon-2.png" title="" alt=""></i>
                              <i class="fa" aria-hidden="true"><img src="assets/img/star-icon1.png" title="" alt=""></i>
                              <i class="fa" aria-hidden="true"><img src="assets/img/star-icon1.png" title="" alt=""></i>
                              <i class="fa" aria-hidden="true"><img src="assets/img/star-icon1.png" title="" alt=""></i> -->
                              <ngb-rating [rate]="starValue" class="text-warning "></ngb-rating>
                    
                              <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                              <!-- {{starPerformance}} -->
                            </h4>
                          </div>
                        </div>
                    </div>
                
  
            <!-- <div class="bg-white shadow-sm rounded p-5 mb-3">
              <div class="row">
                <div class="clearfix w-100 mb-4">
                  <h5 class="pb-2 pl-3 text-white pt-2">Exam</h5>
                </div>
                <div class="col-sm-10 col-xs-12">
                  <div class="clearfix w-100 mb-4">
                  <h6 class="mb-2"><span class="font-weight-bold">History Test : </span> </h6>
                  <h6 class="mb-2"><span class="font-weight-bold">Test : </span> </h6>
                </div>
              </div>
            </div>
            </div> -->


  
          </div>

        
        </div>
             </div>
             </div>
      </div>

      <div class="bg-white shadow-sm rounded pb-5 mb-3">
        <h5 class="pb-2 pl-3 text-white pt-2 rounded-top">Hobbies</h5>
        <div class="p-4">
        <div class="row">
      
          <div class="col-sm-10 col-xs-12">
              <div class="clearfix w-100 mb-4">
                <h6 class="mb-2"><span class="font-weight-bold"> </span>{{hobbies}}</h6>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  