.modal-dialog {
    max-width: 724px !important;
    margin: 1.75rem auto;
}

h5 {
    background-color: #3268ff !important;
    border-color: #3268ff !important;
}

btn-secondary{
    background-color: #e6e6e6 !important;
    border-color: #e7eff0 !important;
}