<div class="container pt-5">
  <div class="row pt-3 mt-0 exam-section">

    <div class="col-sm-12 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li>HolidayCalender</li>
        <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()"
          class="pointer">Go Back</strong>
      </ul>
      <div class="row pt-2 mt-2 mb-3">

        <div class="col-sm-12 col-xs-12">
          <div class="bg-white shadow-sm rounded overflow-hidden pb-5">

            <div class="row holiday_list animate__animated animate__backInLeft">
              <div class="col-sm-3 col-xs-12">
                <h2 class="pl-3 pt-4">Holiday List</h2>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="form-group pl-4 mt-4 d-flex justify-content-start">
                  <label class="pr-2 pt-2">For </label>
                  <div class="form-control rounded-pill shadow-sm w-auto pl-3 pr-3">
                    {{current_session}}
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 pt-3">
                <h6 class="pb-2 pl-3 font-weight-normal">Jump to: Next
                  <a class="text-dark" *ngFor="let m of months" (click)="onClick(m.id)">| {{m.text}} </a>
                </h6>
                <h4 class="pb-2 pl-3 pb-3">Holidays List for the Session {{current_session}}</h4>
              </div>

            </div>
            <div class="table-responsive animate__animated animate__backInUp">
              <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                  <tr>
                    <th> Date</th>
                    <th>Day Name</th>
                    <th>Name</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let holiday of holidayList; let i=index;">
                    <td>{{holiday.date | date:'dd/MM/yyyy'}}</td>
                    <td><span class="">{{holiday.date | date: 'EEEE'}}</span></td>
                    <td>{{holiday.leave_type}}
                      <!-- <img src={{holiday.icon_image}} onerror="this.src='assets/img/newyear-emoji.png'"> -->
                    </td>
                    <td>{{holiday.leave_type}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>