/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.text-decoration-none {
  color: #000c;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }
}

.snack-bar-class{ background-color:hsl(120, 33%, 45%);color: rgb(56, 52, 52); }
.snack-bar-class-error{ background-color:rgb(195, 59, 116); color: rgb(238, 227, 227);}


.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.back-btn{
  margin-left:auto;
  padding-right: 10px;
  font-size: 1.5em;
}
.snack-bar-class{
  background-color: aqua;
  color: black;
}
.mat-snack-bar-container {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 24px;
  max-width: 33vw;
  min-width: 344px;
  padding: 14px 16px;
  min-height: 48px;
  transform-origin: center;
  top: 51px;
  position: absolute;
  right: 0px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
