<div class="container">

    <div class="row pt-5 mt-0 exam-section">
  
      <div class="col-sm-12 col-xs-12">
        <ul class="breadcrumb">
          <li><a [routerLink]="['/']">Dashboard</a></li>
          <li>Live-Class-History</li>
          <i (click)="goBack()" class="back-btn fas fa-arrow-circle-left pointer"></i><strong (click)="goBack()" class="pointer">Go
            Back</strong>
        </ul>
  
        <ul class="nav nav-tabs">
          <li class="pointer" [routerLink]="['/live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a>Upcoming&nbsp;Live&nbsp;Classes</a>
          </li>

          <li class="pointer" [routerLink]="['/create-live-classes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a>Create Live Class</a>
          </li>

          <li class="pointer" [routerLink]="['/live-classes-history']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a>Live Classes History</a>
          </li>
      </ul>
      </div>
    </div>
</div>
  
        <div class="tab-content mt-5">
          
            <div class="row">
              <div class="col-sm-12 col-xs-12 mb-4 animate__animated animate__bounceInUp">
                <div class="bg-white shadow-sm rounded overflow-hidden pb-5">
                  <div class="table-responsive">
                    <table class="table text-nowrap table-striped text-left">
                      <thead class="bg-dark rounded text-white">
                        <tr>
                          <th class="pl-4">SL.no</th>
                          <th class="pl-3">Date</th>
                          <th>Time</th>
                          <th>Class</th>
                          <th>Subject</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let liveClass of allCompletedLiveClass   | paginate: {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: totalItems
                        };let i = index">
                          <td class="align-middle pl-4">{{pageSize *(page-1)+i+1}}</td>
                          <td class="align-middle pl-2">{{liveClass.date | date :"dd/MM/yyyy"}}</td>
                          <td class="align-middle pl-2">{{liveClass.routine.start_time}}</td>
                          
                          <td class="align-middle">{{liveClass.routine.class_name}}-{{liveClass.routine.section_name}}</td>
                          <td class="align-middle">{{liveClass.routine.subject_name}}</td>
                          <td class="align-middle text-success">Complete</td>
                          <td class="align-middle"> <a href="{{liveClass.class_link}}" target="_blank" class="ml-1"><i class="fa"><img
                            src="../../../../assets/img/slip-icon.png" title=""></i></a></td>
                        </tr>

                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                   
                  </div>
                </div>
              </div>
  
            </div>
        </div>
     
